mixin deleteModal(type)
    - var h3 = '';
    - var phrase1 = '';

    if type === 'news'
        -h3 = 'Elimina News'
        -phrase1 = 'Sei sicuro di voler eliminare questa news?'
    else if type === 'promo'
        -h3 = 'Elimina Promozione'
        -phrase1 = 'Sei sicuro di voler eliminare questa promozione?'
    else if type === 'url'
        -h3 = 'Elimina Url'
        -phrase1 = 'Sei sicuro di voler eliminare questo url?'
    else if type === 'attachment'
        -h3 = 'Elimina Allegato'
        -phrase1 = 'Sei sicuro di voler eliminare questo allegato?'
    else if type === 'multimedia'
        -h3 = 'Elimina Contenuto Multimediale'
        -phrase1 = 'Sei sicuro di voler eliminare questo contenuto multimediale?'
    else if type === 'gallery'
        -h3 = 'Elimina Galleria'
        -phrase1 = 'Sei sicuro di voler eliminare questa galleria?'

    div#deleteModal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header.text-center
                    h3=h3
                .modal-body.text-center
                    p=phrase1
                        br
                        |Questa operazione è irreversibile.
                .modal-footer
                    button#btnDelete(type='button', data-dismiss='modal').btn.btn-danger Si, elimina
                    button(type='button', data-dismiss='modal').btn.btn-default Chiudi