include panels
div#helpModal.modal.fade.no-padding
    .modal-dialog
        .modal-content
            //.modal-header.text-center
            .modal-body
                + helpPanel()
            //.modal-footer
                button(type='button', data-dismiss='modal').btn.btn-default Chiudi