mixin tableNews(datasource)
    .row
        .col-lg-12
            .panel.panel-filled
                .panel-body
                    .table-responsive
                        table#tableNews.table.table-striped.table-hover(style='width:100%;')

    script.
      $(document).ready(function () {
        $('#tableNews').DataTable({
          language: {
            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Italian.json"
          },
          dom: 'ftip',
          paging: true,
          searching: true,
          ordering: true,
          order:[],
          data: !{datasource},
          columns: [
            {
              'title': '',
              'name': 'Url_immagine',
              'orderable': false,
              'data': 'Url_immagine',
              'render': function (data, type, row) {
                return "<img width='100%' src='" + data + "' alt='image'/>";
              },
              'width': '90px'
            },
            {'title': 'Titolo', 'name': 'Titolo', 'data': 'Titolo', 'orderable': true},
            {'title': 'Descrizione', 'name': 'Descrizione', 'data': 'Descrizione', 'orderable': false},
            {'title': 'Data', 'name': 'Data_inserimento_lista', 'data': 'Data_inserimento_lista', 'orderable': false},
            {
              'title': 'Con allegato', 'name': 'Nome_allegato', 'data': 'Nome_allegato', 'orderable': false,
              render: function (data, type, row) {
                var status = data ? 'Sì' : 'No';
                return "<p>" + status + "</p>";
              }
            },
            {
              data: function (row, type, set, meta) {
                return {
                  Id: row.Id
                }
              },
              'title': '',
              'name': 'Id',
              'orderable': false,
              'render': function (data, type, row) {
                return "<a type='button' class='btn btn-default btn-md' href='/admin/news-detail/" + data.Id + "' title='Modifica'>Modifica</a>";
              },
              'width': '90px'
            }
          ]
        });
      });

