mixin buildPanel(panel, index)
    -var panelId = 'panel-'+index
    div(id=panelId).panel.panel-filled.relative
        .loader-box
            i.fa.fa-spin.fa-circle-o-notch
        .panel-body
            h2.m-b-none
                span.data-total
                    | #{panel.total}
                span.slight
                    i.text-warning(class=panel.class)
            .small=panel.title
            .slight.m-t-sm
                span.c-white=panel.tooltip

    if panel.uri
        script.
            $(document).ready(function () {
                $.ajax({
                    url: '#{panel.uri}',
                    type: 'GET'
                }).done( function (data, textStatus, jqXHR) {
                    $('##{panelId} .loader-box').toggleClass('hide');
                    if (data) {
                        $('##{panelId} h2 span.data-total').text(data.total + ' ');
                    }
                    else {
                        $('##{panelId} h2 span.data-total').text('n.d. ');
                    }
                }).fail( function (jqXHR, textStatus, errorThrown) {
                    $('##{panelId} .loader-box').toggleClass('hide');
                    $('##{panelId} h2 span.data-total').text('n.d. ');
                });
            });

mixin topPanels(panelList)
    .row
        each panel, index in panelList
            .col-lg-3.col-xs-6
                +buildPanel(panel, index)

mixin helpPanel()
    .panel.panel-filled
        .panel-heading Assistenza
        .panel-body
            p='Per ogni dubbio sull\'utilizzo del prodotto o per le segnalazioni di malfunzionamenti, la nostra assistenza è disponibile dal lunedì al venerdì, dalle ore '
                span.c-white 08.30 > 12.30
                =' e dalle '
                span.c-white 13.30 > 17.30
            p='Assistenza telefonica: '
                a.c-accent(href='tel://' + process.env.HELP_PHONE, title='chiamaci')=process.env.HELP_PHONE
            p='Assistenza mail: '
                a.c-accent(href='mailto://' + process.env.HELP_MAIL_1 + '?subject=' + process.env.APP_NAME + ' admin - richiesta assistenza', title='scrivici')=process.env.HELP_MAIL_1
            hr(style='margin:20px 0 0 0;border-top:1px solid #798094')
        .panel-footer(style='padding: 10px 15px 20px 15px;')
            a.btn.btn-accent.btn-w-md(href='mailto://' + process.env.HELP_MAIL_1 + '?subject=' + process.env.APP_NAME + ' admin - richiesta assistenza', title='scrivici') Scrivici
            |&nbsp;
            a.btn.btn-default.btn-w-md(href='tel://' + process.env.HELP_PHONE, title='chiamaci') Chiamaci


