mixin table(datasource)
    .row
        .col-lg-12
            .panel.panel-filled
                .panel-body
                    .table-responsive
                        table#tableList.table.table-striped.table-hover(style='width:100%;')

    script.
      $(document).ready(function () {
        $('#tableList').DataTable({
          language: {
            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Italian.json"
          },
          dom: 'ftip',
          paging: true,
          searching: true,
          ordering: true,
          order:[],
          data: !{datasource},
          columns: [
            {
              'title': '',
              'name': 'Img_principale',
              'orderable': false,
              'data': 'img_principale',
              'render': function (data, type, row) {
                if(!data){
                  return "<img width='100%' src='/img/noimage.png' alt='image'/>";
                }else{
                  return "<img width='100%' src='https://www.lacasamoderna.com/public/prodotti/" + data + "' alt='image'/>";
                }

              },
              'width' : '90px'
            },
            {'title': 'Nome', 'name': 'Titolo', 'data': 'titolo', 'orderable': true, 'searchable': true},
            {'title': 'Modello', 'name': 'Modello', 'data': 'modello', 'orderable': false},
            {'title': 'Categoria', 'name': 'Nome_sottocategoria', 'data': 'nome_sottocategoria', 'orderable': false},
            {
              'title': 'Prezzo', 'name': 'Prezzo', 'data': 'prezzo', 'orderable': false,
              render: function (data, type, row) {
                var price = data ? data.toLocaleString() + ' €' : "";
                return "<p>" + price + "</p>";
              }
            },
            {
              data: function (row, type, set, meta) {
                return {
                  IdProduct: row.id
                }
              },
              'title': 'Risorse collegate',
              'name': '',
              'orderable': false,
              'render': function (data, type, row) {
                return "<a type='button' class='btn btn-default btn-md fa fa-file-image-o' href='/admin/product-gallery-list/" + data.IdProduct + "' title='Gallerie'></a>"
                  + "&nbsp;" + "<a type='button' class='btn btn-default btn-md fa fa-file-pdf-o' href='/admin/product-attached-list/" + data.IdProduct + "' title='Allegati PDF'></a>"
                  + "&nbsp;" + "<a type='button' class='btn btn-default btn-md fa fa-link' href='/admin/product-media-list/" + data.IdProduct + "' title='Contenuti multimediali'></a>"
              },
              'width': '200px'
            }
          ],
          "createdRow": function (row, data, index) {
            if (index === 0 && data.id === '41117') {
              $(row).addClass('highlight');
            }
          }
        });
      });