mixin qrBox2(datasource)
  .panel.panel-filled.panel-c-accent
    .panel-heading
        span Anteprima e file grafico QR-Code
    .panel-body
        .row
            .col-lg-8
                p='Si ricorda che il qr-code deve essere utilizzato '
                    span.c-accent='per una sola tipologia '
                    | di risorsa multimediale.

                p Scarica la versione HD per la versione stampabile del qr-code.
            .col-lg-4
                img.center-block(src=datasource.Icona, width='100')
        .row
            .col-lg-8
                a#btnCopyQR.btn.btn-accent(href=datasource.HdVersion, download="qrcode.png" target='_blank', title='Scarica il Qr-Code in alta risoluzione') Scarica QR-Code HD
                    | &nbsp;&nbsp;
                    span#lblMex.c-accent

    script.
      $(document).ready(function () {

      });