mixin qrBox1(datasource)
  .panel.panel-filled.panel-c-accent
    .panel-heading
        span Collegamento statico al QR-Code
    .panel-body
        .row
            .col-lg-12
                input.form-control#txtLink(type='text', name='txtLink', disabled, value=datasource.PublicUrl)
                br
        .row
            .col-lg-6
                p='Codice univoco di riferimento: '
                    span.c-white=datasource.Codice
            .col-lg-6
                p='Codice univoco di riferimento file: '
                    span.c-white=datasource.FileName
    .panel-footer
        .row
            .col-lg-12
                a#btnCopyQR.btn.btn-accent(title='Copia Link' data-clipboard-text=datasource.PublicUrl) Copia link
                |&nbsp;&nbsp;
                span#lblMex.c-accent
    script(src='/libs/clipboard/clipboard.min.js')
    script.
      $(document).ready(function () {

        var clipboard = new Clipboard('#btnCopyQR', {
          /*target: function () {
            return $('#txtLink')[0];
          }*/
        });

        clipboard.on('success', function (e) {
          $('#lblMex').text('Link copiato negli appunti');
          $('#lblMex').show();
          e.clearSelection();
        });
      });
