mixin qrTable(datasource)
    .row
        .col-lg-12
            .panel.panel-filled
                .panel-body
                    .table-responsive
                        table#qrTable.table.table-striped.table-hover(style='width:100%;')

    script.
      $(document).ready(function () {
        $('#qrTable').DataTable({
          language: {
            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Italian.json"
          },
          dom: 'ftip',
          paging: true,
          searching: true,
          ordering: true,
          order:[],
          data: !{datasource},
          columns: [
            {
              'title': '',
              'name': 'Icona',
              'orderable': false,
              'data': 'Icona',
              'render': function (data, type, row) {
                return "<img width='100%' src='" + data + "' alt='image'/>";
              },
              'width': '60px'
            },
            {'title': 'Nome', 'name': 'Nome', 'data': 'Nome', 'orderable': true, 'searchable': true},
            {'title': 'Tipologia', 'name': 'Tipologia', 'data': 'Tipologia', 'orderable': true},
            {'title': 'Codice', 'name': 'Codice', 'data': 'Codice', 'orderable': false},
            {
              data: function (row, type, set, meta) {
                return {
                  Id: row.Id,
                  HdVersion: row.HdVersion
                }
              },
              'title': '',
              'name': 'Id',
              'orderable': false,
              'render': function (data, type, row) {
                return "<a type='button' class='btn btn-default btn-md' href='/admin/qrcode-detail/" + data.Id + "' title='Modifica'>Modifica</a>" +
                  "&nbsp <a type='button'class='btn btn-default btn-md' href='" + data.HdVersion + "' title='Download' download='qrcode.png'>Download</a>";
              },
              'width': '200px'
            }
          ]
        });
      });