mixin urlTable(datasource)
    .row
        .col-lg-12
            .panel.panel-filled
                .panel-body
                    .table-responsive
                        table#urlTable.table.table-striped.table-hover(style='width:100%;')

    script.
      $(document).ready(function () {
        $('#urlTable').DataTable({
          language: {
            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Italian.json"
          },
          dom: 'ftip',
          paging: true,
          searching: true,
          ordering: true,
          order:[],
          data: !{datasource},
          columns: [
            {'title': 'Nome', 'name': 'Nome', 'data': 'Nome', 'orderable': true, 'searchable': true},
            {'title': 'Contenuto', 'name': 'Contenuto', 'data': 'Contenuto', 'orderable': false},
            {
              'title': 'Con Qrcode', 'name': 'Id_qrcode', 'data': 'Id_qrcode', 'orderable': false,
              render: function (data, type, row) {
                var status = data ? 'Sì' : 'No';
                return "<p>" + status + "</p>";
              }
            },
            {
              'title': 'Stato', 'name': 'Attivo', 'data': 'Attivo', 'orderable': false,
              render: function (data, type, row) {
                var status = data ? 'Attivo' : 'Non attivo';
                return "<p>" + status + "</p>";
              }
            },
            {
              data: function (row, type, set, meta) {
                return {
                  Id: row.Id
                }
              },
              'title': '',
              'name': 'Id',
              'orderable': false,
              'render': function (data, type, row) {
                //Disabling edit button if promo is expired
                return "<a type='button' class='btn btn-default btn-md' href='/admin/url-detail/" + data.Id + "' title='Modifica'>Modifica</a>";
              },
              'width': '150px'
            }
          ]
        });
      });