extends layout
include components/panels
include components/newsTableHome
include components/qrTableHome
block head
    - var titleVar = process.env.APP_NAME
block content
    +topPanels(pagePanels)
    +tableNewsHome(newsList)
    +qrTableHome(qrList)