doctype html
html
  head
    include ../head
  body
    // Wrapper
    .wrapper
      include ../navbar
      include ../menu
      // Main content
      section.content
        .container-fluid
          include ../pageHeader
          block content
      //END Main content
    //END Wrapper

  include ../scripts
