extends layout
include components/newsTable
block head
    - var titleVar = process.env.APP_NAME
block content
    .row
        .col-lg-12
            .pull-right
                a(href='/admin/news-detail', title='Inserisci una nuova News').btn.btn-accent='Nuova News'
    hr
    +tableNews(newsList)