extends layout
block head
    - var titleVar = process.env.APP_NAME
    link(rel='stylesheet', href='/libs/fileinput/css/fileinput.css')
    link(rel='stylesheet', href='/libs/toastr/toastr.min.css')
    link(rel='stylesheet', href='/libs/datetime-picker/css/bootstrap-datetimepicker.css')
block content
    .row
        .col-lg-12
            form#form(method='post')
                .panel.panel-filled
                    .panel-heading Informazioni principali
                    .panel-body
                        p
                        .form-group
                            if newsObj.Titolo
                                label(for='Titolo') Titolo
                                input.form-control#Titolo(type='text', name='Titolo', placeholder='Titolo', maxlength='80', value=newsObj.Titolo.replace("&#39;","'"))
                            else
                                label(for='Titolo') Titolo
                                input.form-control#Titolo(type='text', name='Titolo', placeholder='Titolo', maxlength='80', value=newsObj.Titolo)
                            span#characters.counter_titolo.pull-right 0/80
                            span.help-block Inserisci il titolo della news.
                        .form-group
                            label(for='Descrizione') Descrizione
                            input.form-control#Descrizione(type='text', name='Descrizione', placeholder='Descrizione', value=newsObj.Descrizione)
                            input#Descrizione_hidden(type='hidden', name='Descrizione_hidden', value=newsObj.Descrizione)
                            input#Descrizione_plain_hidden(type='hidden', name='Descrizione_plain_hidden')
                            span.help-block Aggiungi una descrizione accurata della news per far conoscere tutti i dettagli agli utenti.
                        .form-group
                            label(for='input-foto') Immagine Principale
                            input.form-control#input-foto(type='file', name='immagine')
                            span.help-block Una bella foto è IMPORTANTE! Ricorda di inserirne sempre una quando attivi una news!
                        .form-group
                            label(for='input-allegato') Allegato
                            input.form-control#input-allegato(type='file', name='allegato')
                            span.help-block Allega documento pdf
                        if newsObj.Id && newsObj.filePreview
                          .form-group#pdf-preview
                            label Anteprima allegato PDF
                            p
                              a(href=newsObj.filePreview, target='_blank', title='Guarda anteprima').btn.btn-default.btn-md='Guarda anteprima'
                              span.help-block Apri l'allegato in una nuova scheda
                .panel.panel-filled
                    .panel-body
                        .text-center
                            #box-actions
                                if newsObj.Id
                                    input#btnPublish(type='submit', value='Salva cambiamenti' title='Salva cambiamenti').btn.btn-accent2
                                    |&nbsp;
                                    button#btnDeleteModal(type='button', title='Elimina', data-toggle='modal', data-target='#deleteModal').btn.btn-danger Elimina
                                else
                                    input#btnPublish(type='submit', value='Inserisci' title='Inserisci').btn.btn-accent2
                            #spinner
                                i.fa.fa-circle-o-notch.fa-spin
                                span=' Attendi...'
                            include components/deleteModal
                            + deleteModal('news')

block scripts
    script(src='/libs/ckeditor/ckeditor.js')
    script(src='/scripts/jquery.form.js')
    script(src='/scripts/jquery.validate.js')
    script(src='/libs/fileinput/js/fileinput.min.js')
    script(src='/libs/fileinput/js/fileinput_locale_it.js')
    script(src='/libs/toastr/toastr.min.js')
    script.
      $(document).ready(function () {
        var itemId = '#{newsObj.Id}';

        var newsTitle = '#{newsObj.Titolo}';

        if(!newsTitle){
          newsTitle = "";
        }

        //Setting total chars in edit
        $('#characters').text(newsTitle.length + "/80");

        showLoading(false);

        //DELETE
        $('#btnDelete').on('click', function () {
          showLoading(true);
          $.ajax({
            url: '/admin/news-detail/' + itemId,
            type: 'DELETE',
            beforeSubmit: function (arr, $form, options) {

            },
            success: function () {
              showLoading(false);
              showToast("success", "Elimina News", "News eliminata correttamente, verrai reindirizzato alla lista delle news.");
              setTimeout(
                function () {
                  window.location.href = '/admin/newses';
                }, 3000);
            },
            error: function (request, errordata, errorObject) {
              showToast("error", "Elimina News", "Elimina news fallito");
              showLoading(false);
            }
          });
        });

        $('#btnPublish').on('click', function () {
          if ($('#form').valid()) {
            showLoading(true);

            if (itemId) {
              $('#form').ajaxForm({
                url: '/admin/news-detail/' + itemId,
                type: 'PUT',
                beforeSubmit: function (arr, $form, options) {

                },
                success: function () {
                  showLoading(false);
                  showToast("success", "Aggiornamento News", "News aggiornata correttamente, verrai reindirizzato alla lista delle news.");
                  setTimeout(
                    function () {
                      window.location.href = '/admin/newses';
                    }, 3000);
                },
                error: function (request, errordata, errorObject) {
                  showToast("error", "Aggiornamento News", "Aggiornamento news fallito");
                  showLoading(false);
                }
              });
            }
            else {
              $('#form').ajaxForm({
                url: '/admin/news-detail',
                type: 'POST',
                beforeSubmit: function (arr, $form, options) {

                },
                success: function () {
                  showLoading(false);
                  showToast("success", "Inserimento News", "News inserita correttamente, verrai reindirizzato alla lista delle news.");
                  setTimeout(
                    function () {
                      window.location.href = '/admin/newses';
                    }, 3000);
                },
                error: function (request, errordata, errorObject) {
                  showToast("error", "Inserimento News", "Inserimento news fallito");
                  showLoading(false);
                }
              });
            }
          }
        });

        //Handle automatic counter
        $('#Titolo').keyup(function () {
          var cs = $(this).val().length;
          $('#characters').text(cs + "/80");
          $('#Titolo').valid();
        });

          /*CKEDITOR*/
        //Setting custom toolbar for the editor
        CKEDITOR.replace('Descrizione', {
          customConfig: 'config.js'
        });

        //Handle keyupEvent on new editor
        var editor = CKEDITOR.instances["Descrizione"];
        editor.setData($('#Descrizione_hidden').val());
        editor.on('contentDom', function () {
          var editable = editor.editable();
          //FIXME TESTING NO MORE PLAIN TEXT ON NEWS EVENTS DESCRIPTION
          $('#Descrizione_plain_hidden').val(editor.document.getBody());

          editable.on ('blur', function () {
            $("#Descrizione_hidden").val(CKEDITOR.instances.Descrizione.getData());
            $("#Descrizione_plain_hidden").val(CKEDITOR.instances.Descrizione.document.getBody());
            $("#Descrizione_plain_hidden").valid();
          });

        });
          /*********************************/
        var news = JSON.parse('!{news}');

        //TODO FILE INPUT MAIN IMAGE + ATTACHED FILE
        buildImageUpload('#input-foto', 1, "/admin/news-detail/photo", news.id_image ? [news.id_image] : null, 'main', news.imagePreview, {type: "image", caption: "Immagine", key: 1, url:news.imageRemoveUrl});
        buildFileUpload('#input-allegato', 1, "/admin/news-detail/file", news.filePreview, {type: "pdf", caption: "Allegato.pdf", key: 1, url:news.fileRemoveUrl});

        //VALIDATION PLUGIN
        $('#form').validate({
          ignore:[],
          rules: {
            Titolo: {
              minlength: 5,
              maxlength: 80,
              required: true
            },
            Descrizione_plain_hidden: {
              minlength: 10,
              required: function () {
                return $("#Descrizione_plain_hidden").val().length <= 1;
              }
            },
            ds_location: {
              minlength : 4,
              required : function () {
                return (type === 'EVENT');
              }
            }
          },
          messages: {
            Titolo: 'campo richiesto',
            Descrizione_plain_hidden: 'campo richiesto',
            ds_location: 'campo richiesto'
          },
          //Testing the new method
          highlight: function (element) {
            $(element).closest('.form-group').addClass('has-error');
          },
          unhighlight: function (element) {
            $(element).closest('.form-group').removeClass('has-error');
          },
          errorElement: 'p',
          errorClass: 'help-block',
          errorPlacement: function (error, element) {

            if (element.attr("name") == "Descrizione_hidden") {
              error.insertAfter("input#Descrizione_hidden");
            } else {
              error.insertAfter(element);
            }
          }
        });

      });

      function showLoading(isLoading) {
        if (isLoading) {
          $('#box-actions').hide();
          $('#spinner').show();
        } else {
          $('#box-actions').show();
          $('#spinner').hide();
        }
      }

      function buildFileUpload(selector, maxFileCount, postUrl, filePreview, previewConfig) {
          /*IMAGE UPLOAD*/
        //Footer for the image upload preview actually hiding the footer
        var footerTemplate = '<div class="file-thumbnail-footer" style="display:none">\n' +
          '</div>';

        //Editing the progress bar style here
        var progress = '<div class="progress">\n' +
          '    <div class="progress-bar progress-bar-success progress-bar-striped text-center" role="progressbar" aria-valuenow="{percent}" aria-valuemin="0" aria-valuemax="100" style="width:{percent}%;">\n' +
          '        {percent}%\n' +
          '     </div>\n' +
          '</div>';


        /** init the file input */
        $(selector).fileinput({
          language: 'it',
          minImageWidth: 640,
          minImageHeight: 480,
          maxFileSize: 20000,
          dropZoneEnabled: false,
          allowedFileExtensions: ["pdf"],
          autoReplace: true,
          overwriteInitial: true,
          showUploadedThumbs: false,
          maxFileCount: maxFileCount,
          uploadUrl: postUrl,
          uploadAsync: true,
          showCancel: false,
          showUpload: false,
          showRemove: false,
          showPreview: true,

          preferIconicPreview: true, // this will force thumbnails to display icons for following file extensions
          allowedPreviewTypes: null,
          previewFileIcon: '<i class="fa fa-file"></i>',
          previewFileIconSettings: {
            'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>'
          },

          showClose: false,
          layoutTemplates: {
            footer: '<div class="file-thumbnail-footer">\n' +
            '   <div class="file-caption-name">{caption}</div>\n' +
            '   {actions}\n' +
            '</div>',
            actions: '<div class="file-actions">\n' +
            '    <div class="file-footer-buttons">\n' +
            '        {delete} ' +
            '    </div>\n' +
            '    <div class="file-upload-indicator" title="{indicatorTitle}">{indicator}</div>\n' +
            '    <div class="clearfix"></div>\n' +
            '</div>'
          },
          initialPreview: [filePreview],
          initialPreviewAsData: true,
          initialPreviewFileType: 'image',
          initialPreviewConfig: [previewConfig],
          initialPreviewShowDelete: true,
          removeFromPreviewOnError: true
        }).on("filebatchselected", function (event, files) {
          if(files && files.length > 0) {
            $('#pdf-preview').hide();
            $(selector).fileinput("upload");
          }
        }).on('filebatchuploadcomplete', function (event, data) {
          //alert("data: " + data);
        }).on('filebrowse', function (event) {
          //$("#input-foto").fileinput("clear"); // This actually supposed to clear uploaded files to allow you upload a new one without see the old one.
        }).on('fileclear', function (event) {
          $('#btnPublish').show();
        }).on('fileuploaded', function (event, data, previewId, index) {
          $('#btnPublish').show();
        }).on('filepreupload', function (event, data, previewId, index) {
          $('#btnPublish').hide();
        }).on('fileuploaderror', function (event, data, previewId, index) {
          $('#btnPublish').show();
        }).on('fileerror', function (event, data, previewId, index) {
          $('#btnPublish').show();
        }).on('filedeleted', function (event, key) {
          //console.log('key : ' + key);
        }).on('filepredelete', function (event, key) {
          //
          // console.log('key : ' + key);
        });
      }

      function buildImageUpload(selector,maxFileCount, postUrl, imageList, type, filePreview, previewConfig) {
          /*IMAGE UPLOAD*/
        //Footer for the image upload preview actually hiding the footer
        var footerTemplate = '<div class="file-thumbnail-footer" style="display:none">\n' +
          '</div>';

        //Editing the progress bar style here
        var progress = '<div class="progress">\n' +
          '    <div class="progress-bar progress-bar-success progress-bar-striped text-center" role="progressbar" aria-valuenow="{percent}" aria-valuemin="0" aria-valuemax="100" style="width:{percent}%;">\n' +
          '        {percent}%\n' +
          '     </div>\n' +
          '</div>';


        arrayImages = [];
        arrayImagesConfig = [];

        if (imageList && imageList.constructor === Array) {
          imageList.forEach(function (img) {
            arrayImages.push("<img src='#{process.env.SERVER_IMAGE}?id=" + img + "' class='file-preview-image' alt='image'>");
          });
        }


        /** init the file input */
        $(selector).fileinput({
          language: 'it',
          minImageWidth: 640,
          minImageHeight: 480,
          maxFileSize: 4096,
          dropZoneEnabled: false,
          allowedFileExtensions: ["jpg", "jpeg"],
          //allowedFileExtensions: ["pdf"],
          autoReplace: true,
          overwriteInitial: true,
          showUploadedThumbs: false,
          maxFileCount: maxFileCount,
          uploadUrl: postUrl,
          uploadAsync: true,
          showCancel:false,
          showUpload:false,
          showRemove:false,
          showPreview:true,
          showClose:false,
          initialPreview: [filePreview],
          initialPreviewConfig: [previewConfig],
          layoutTemplates: {
            footer: '<div class="file-thumbnail-footer">\n' +
            '   <div class="file-caption-name">{caption}</div>\n' +
            '   {actions}\n' +
            '</div>',
            actions: '<div class="file-actions">\n' +
            '    <div class="file-footer-buttons">\n' +
            '        {delete} ' +
            '    </div>\n' +
            '    <div class="file-upload-indicator" title="{indicatorTitle}">{indicator}</div>\n' +
            '    <div class="clearfix"></div>\n' +
            '</div>'
          },
          initialPreviewAsData: true,
          initialPreviewFileType: 'image',
          removeFromPreviewOnError : true,
          initialPreviewShowDelete: true
        }).on("filebatchselected", function (event, files) {
          if (files && files.length > 0) {
            $(selector).fileinput("upload");
          }
        }).on('filebatchuploadcomplete', function (event, data) {
          //alert("data: " + data);
        }).on('filebrowse', function (event) {
          //$("#input-foto").fileinput("clear"); // This actually supposed to clear uploaded files to allow you upload a new one without see the old one.
        }).on('fileclear', function (event) {
          $('#btnPublish').show();
        }).on('fileuploaded', function (event, data, previewId, index) {
          $('#btnPublish').show();
        }).on('filepreupload', function (event, data, previewId, index) {
          $('#btnPublish').hide();
        }).on('fileuploaderror', function (event, data, previewId, index) {
          $('#btnPublish').show();
        }).on('fileerror', function (event, data, previewId, index) {
          $('#btnPublish').show();
        }).on('filedeleted', function (event, key) {
          //console.log('key : ' + key);
        }).on('filepredelete', function (event, key) {
          //
          // console.log('key : ' + key);
        });
      }

      function showToast(type, title, message) {
        if ('success' == type) {
          toastr.options = {
            'closeButton': true,
            'debug': false,
            'newestOnTop': false,
            'progressBar': true,
            'positionClass': 'toast-top-center',
            'preventDuplicates': true,
            'onclick': null,
            'showDuration': '300',
            'hideDuration': '1000',
            'timeOut': 5000,
            'extendedTimeOut': '1000',
            'showEasing': 'swing',
            'hideEasing': 'linear',
            'showMethod': 'fadeIn',
            'hideMethod': 'fadeOut'
          };
          toastr['success'](message, title);

        } else if ('error' == type) {
          toastr.options = {
            'closeButton': true,
            'debug': false,
            'newestOnTop': false,
            'progressBar': true,
            'positionClass': 'toast-top-center',
            'preventDuplicates': true,
            'onclick': null,
            'showDuration': '300',
            'hideDuration': '1000',
            'timeOut': 5000,
            'extendedTimeOut': '1000',
            'showEasing': 'swing',
            'hideEasing': 'linear',
            'showMethod': 'fadeIn',
            'hideMethod': 'fadeOut'
          };
          toastr['error'](message, title)
        }

      }