extends layout
block head
    - var titleVar = process.env.APP_NAME
    link(rel='stylesheet', href='/libs/fileinput/css/fileinput.css')
    link(rel='stylesheet', href='/libs/toastr/toastr.min.css')
    link(rel='stylesheet', href='/libs/jquery-ui/jquery-ui.css')
block content
    .row
        .col-lg-12
            .pull-right
                a(href="/admin/product-gallery-list/" + galleryObj.Id_prodotto, title='Torna alla lista').btn.btn-accent='Torna alla lista'
    hr
    .row
        .col-lg-12
            form#form(method='post')
                .panel.panel-filled
                    .panel-heading Informazioni principali
                    .panel-body
                        .row
                            .col-lg-12
                                .form-group
                                    if galleryObj.Nome
                                        label(for='Nome') Nome
                                        input.form-control#Nome(type='text', name='Nome', placeholder='Nome', maxlength='80', value=galleryObj.Nome.replace("&#39;", "'"))
                                    else
                                        label(for='Nome') Nome
                                        input.form-control#Nome(type='text', name='Nome', placeholder='Nome', maxlength='80', value)
                                    span.help-block Inserisci il nome della gallery.
                        .row
                            .col-lg-12
                                .form-group
                                    label(for='input-allegato') Immagini
                                    input.form-control#input-allegato(type='file', multiple, name='immagine')
                                    span.help-block Carica le immagini della galleria
                                .form-group
                                    label Qrcode
                                    .checkbox
                                        label
                                            input(type='checkbox', id='cbQrCode' name='cbQrCode' onchange='toggleCheckbox(this)')
                                            | Abbina Qrcode
                                    input.form-control#Id_qrcode(type='hidden', name='Id_qrcode', value=galleryObj.Id_qrcode)
                                    if(!galleryObj.QRCode.Nome)
                                        #qrCodeDiv
                                            label(for='TitoloQrCode') Titolo di riferimento del QrCode
                                                input.form-control#TitoloQrCode(type='text', name='TitoloQrCode', value=galleryObj.QRCode.Nome)
                                            span.help-block Scegli un titolo per il QR code che verrà abbinato alla risorsa.
                                    if(galleryObj.QRCode.Nome)
                                        include components/qrBox1
                                        include components/qrBox2
                                        .row
                                            .col-lg-6
                                                #box1
                                                    +qrBox1(galleryObj.QRCode)
                                            .col-lg-6
                                                #box2
                                                    +qrBox2(galleryObj.QRCode)
                .panel.panel-filled
                    .panel-body
                        .text-center
                            #box-actions
                                if galleryObj.Id
                                    input#btnPublish(type='submit', value='Salva cambiamenti' title='Salva cambiamenti').btn.btn-accent2
                                    |&nbsp;
                                    button#btnDeleteModal(type='button', title='Elimina', data-toggle='modal', data-target='#deleteModal').btn.btn-danger Elimina
                                else
                                    input#btnPublish(type='submit', value='Inserisci' title='Inserisci').btn.btn-accent2
                            #spinner
                                i.fa.fa-circle-o-notch.fa-spin
                                span=' Attendi...'
                            include components/deleteModal
                            + deleteModal('gallery')

block scripts
    script(src='/libs/jquery-ui/jquery-ui.js')
    script(src='/scripts/jquery.form.js')
    script(src='/scripts/jquery.validate.js')
    script(src='/libs/fileinput/js/fileinput.min.js')
    script(src='/libs/fileinput/js/fileinput_locale_it.js')
    script(src='/libs/fileinput/js/plugins/sortable.min.js')
    script(src='/libs/toastr/toastr.min.js')
    script.
      var galleryList = [];
      var galleryObj;
      var totalGalleryFiles = 0;
      var galleryImg = [];
      $(document).ready(function () {
        galleryObj = JSON.parse('!{gallery}');

        var itemId = galleryObj.Id;

        if(galleryObj.Nomi_File) {
            galleryList = galleryObj.Nomi_File;
        }


        //showing checkbox if gallery have a qrcode
        if (galleryObj.Id_qrcode) {
          $('#cbQrCode').attr('checked', 'checked');
          $('#qrCodeDiv').show();
        } else {
          $('#qrCodeDiv').hide();
        }

        //END ADD
        showLoading(false);

        //DELETE
        $('#btnDelete').on('click', function () {
          showLoading(true);
          $.ajax({
            url:  '/admin/product-gallery-detail/' + itemId,
            type: 'DELETE',
            beforeSubmit: function (arr, $form, options) {

            },
            success: function () {
              $('#btnDeleteModal').attr('disabled', 'disabled');
              $('#btnPublish').attr('disabled', 'disabled');
              showLoading(false);
              //disable button coz we will redirect!
              showToast("success", "Elimina Galleria", "Galleria eliminata correttamente, verrai reindirizzato alla lista degli allegati.");
              setTimeout(
                function () {
                  //TODO:
                  window.location.href = '/admin/product-gallery-list/'+galleryObj.Id_prodotto
                }, 3000);
            },
            error: function (request, errordata, errorObject) {
              showToast("error", "Elimina Galleria", "Elimina galleria fallito");
              showLoading(false);
            }
          });
        });

        $('#btnPublish').on('click', function () {
          if ($('#form').valid()) {
            showLoading(true);

            if (itemId) {
              $('#form').ajaxForm({
                url: '/admin/product-gallery-detail/' + itemId +'?productId='+galleryObj.Id_prodotto,
                type: 'PUT',
                beforeSubmit: function (arr, $form, options) {
                    buildImageNames(arr);
                },
                success: function () {
                  //disable button coz we will redirect!
                  $('#btnPublish').attr('disabled', 'disabled');
                  $('#btnDeleteModal').attr('disabled', 'disabled');
                  showLoading(false);
                  showToast("success", "Aggiornamento Galleria", "Galleria aggiornata correttamente, verrai reindirizzato alla lista delle gallerie.");
                  setTimeout(
                    function () {
                      window.location.href = '/admin/product-gallery-list/'+galleryObj.Id_prodotto
                    }, 3000);
                },
                error: function (request, errordata, errorObject) {
                  showToast("error", "Aggiornamento Galleria", "Aggiornamento galleria fallito");
                  showLoading(false);
                }
              });
            }
            else {
              $('#form').ajaxForm({
                url: '/admin/product-gallery-detail?productId='+galleryObj.Id_prodotto,
                type: 'POST',
                beforeSubmit: function (arr, $form, options) {
                  buildImageNames(arr);
                },
                success: function () {
                  //disable button coz we will redirect!
                  $('#btnPublish').attr('disabled', 'disabled');
                  showLoading(false);
                  showToast("success", "Inserimento Galleria", "Galleria inserita correttamente, verrai reindirizzato alla lista delle gallerie.");
                  setTimeout(
                    function () {
                      window.location.href = '/admin/product-gallery-list/'+galleryObj.Id_prodotto
                    }, 3000);
                },
                error: function (request, errordata, errorObject) {
                  showLoading(false);
                  if(errordata && errordata.message){
                    showToast("error", "Attenzione!", errordata.message);
                  }else {
                    showToast("error", "Inserimento Galleria", "Inserimento galleria fallito");
                  }
                }
              });
            }
          }
        });

        buildFileUpload('#input-allegato', 5, "/admin/product-gallery-detail/file", galleryObj.Immagini);

        //VALIDATION PLUGIN
        $('#form').validate({
          ignore:[],
          rules: {
            Titolo: {
              minlength: 6,
              maxlength: 80,
              required: true
            }
          },
          messages: {
            Titolo: 'Campo richiesto'
          },
          //Testing the new method
          highlight: function (element) {
            $(element).closest('.form-group').addClass('has-error');
          },
          unhighlight: function (element) {
            $(element).closest('.form-group').removeClass('has-error');
          },
          errorElement: 'p',
          errorClass: 'help-block',
          errorPlacement: function (error, element) {

            if (element.attr("name") == "Descrizione_hidden") {
              error.insertAfter("input#Descrizione_hidden");
            } else {
              error.insertAfter(element);
            }
          }
        });

      });

      //Hanling oncheck checkbox
      function toggleCheckbox(element) {
        if (element.checked) {
          //TODO: Show hidden input field to set QR name
          $('#qrCodeDiv').show();
        } else {
          //TODO: Dismiss hidden input for setting QR name
          $('#qrCodeDiv').hide();
        }
      }

      function showLoading(isLoading) {
        if (isLoading) {
          $('#box-actions').hide();
          $('#spinner').show();
        } else {
          $('#box-actions').show();
          $('#spinner').hide();
        }
      }

      function buildImageNames(arr) {
        //build arrayGallery to send
        galleryImg = [];
        galleryList.forEach(function (obj) {
          if(obj.id) {
            //Adding name to array only if is not a preview image...
            galleryImg.push(obj.id);
          }
        });
        var galleryObj = {
          name: 'galleryImg',
          value: JSON.stringify(galleryImg),
          type: 'hidden',
          required: false
        };
        arr.push(galleryObj);
      }

      function buildFileUpload(selector, maxFileCount, postUrl, imageList) {
          /*IMAGE UPLOAD*/
        //Footer for the image upload preview actually hiding the footer
        var footerTemplate = '<div class="file-thumbnail-footer" style="display:none">\n' +
          '</div>';

        //Editing the progress bar style here
        var progress = '<div class="progress">\n' +
          '    <div class="progress-bar progress-bar-success progress-bar-striped text-center" role="progressbar" aria-valuenow="{percent}" aria-valuemin="0" aria-valuemax="100" style="width:{percent}%;">\n' +
          '        {percent}%\n' +
          '     </div>\n' +
          '</div>';

        //FIXME, adding preview in EDIT
        var _previewArray = galleryObj.Immagini;
        var _initialPreviewConfig = galleryObj.initialPreviewConfig;


        /** init the file input */
        $(selector).fileinput({
          language: 'it',
          maxFileSize: 5120,
          minImageWidth: 640,
          minImageHeight: 480,
          dropZoneEnabled: false,
          allowedFileExtensions: ["jpg","jpeg"],
          maxFileCount: maxFileCount,
          validateInitialCount: true,
          uploadUrl: postUrl,
          uploadAsync: true,
          showCancel: false,
          showUpload: false,
          showRemove: false,
          showPreview: true,
          showClose: false,
          layoutTemplates: {
            footer: '<div class="file-thumbnail-footer">\n' +
            '   <div class="file-caption-name">{caption}</div>\n' +
            '   {actions}\n' +
            '</div>',
            actions: '<div class="file-actions">\n' +
            '    <div class="file-footer-buttons">\n' +
            '        {delete} {other}' +
            '    </div>\n' +
            '    {drag}\n' +
            '    <div class="file-upload-indicator" title="{indicatorTitle}">{indicator}</div>\n' +
            '    <div class="clearfix"></div>\n' +
            '</div>'
          },
          initialPreview: _previewArray,
          initialPreviewConfig: _initialPreviewConfig,
          initialPreviewAsData: true,
          initialPreviewFileType: 'image',
          initialPreviewShowDelete: true,
          overwriteInitial: false,
          removeFromPreviewOnError: true
        }).on("filebatchselected", function (event, files) {
          var count = 0;
          for (var i = 0; i < files.length; i++)
            if (files[i])
              count++;

          if ((totalGalleryFiles + count) > maxFileCount) {
            $(selector).fileinput('cancel');
            alert('Puoi avere al massimo ' + maxFileCount + ' immagini.');
          }else {
            $(selector).fileinput("upload");
          }
          // trigger upload method immediately after files are selected
        }).on('filebatchuploadcomplete', function (event, data) {
          //alert("data: " + data);
        }).on('filebrowse', function (event) {
          //$("#input-foto").fileinput("clear"); // This actually supposed to clear uploaded files to allow you upload a new one without see the old one.
        }).on('fileclear', function (event) {
          $('#btnPublish').show();
        }).on('fileuploaded', function (event, data, previewId, index) {
          $('#btnPublish').show();
          galleryList.push({'id': data.response.imageId, 'imageName': data.filenames[index]});
          totalGalleryFiles++;
        }).on('filepreupload', function (event, data, previewId, index) {
          $('#btnPublish').hide();
        }).on('fileuploaderror', function (event, data, previewId, index) {
          $('#btnPublish').show();
        }).on('fileerror', function (event, data, previewId, index) {
          $('#btnPublish').show();
        }).on('filesorted', function (event, params) {
          //Removing old index
          //console.log('Gallery List Before Sorting: ' + JSON.stringify(galleryList));
          var oldRemovedItem = galleryList[params.oldIndex];
          galleryList.splice(params.oldIndex, 1);
          galleryList.splice(params.newIndex, 0,  oldRemovedItem);
          //console.log('Gallery List Sorted: ' + JSON.stringify(galleryList));
        }).on('filedeleted', function (event, key) {
          //console.log('key : ' + key);
          for (var i = 0; i < galleryList.length; i++) {
            if (galleryList[i].id === key) {
              galleryList.splice(i, 1);
              totalGalleryFiles--;
            }
          }
        }).on('filesuccessremove', function (event, key) {
          var element = $('#' + key + ' img');
          var imageName = element.attr('title');
          for (var i = 0; i < galleryList.length; i++) {
            if (galleryList[i].imageName === imageName) {
              galleryList.splice(i, 1);
              totalGalleryFiles--;
            }
          }
        }).on('filepredelete', function (event, key) {
          //
          // console.log('key : ' + key);
        });
      }

      function showToast(type, title, message) {
        if ('success' == type) {
          toastr.options = {
            'closeButton': true,
            'debug': false,
            'newestOnTop': false,
            'progressBar': true,
            'positionClass': 'toast-top-center',
            'preventDuplicates': true,
            'onclick': null,
            'showDuration': '300',
            'hideDuration': '1000',
            'timeOut': 5000,
            'extendedTimeOut': '1000',
            'showEasing': 'swing',
            'hideEasing': 'linear',
            'showMethod': 'fadeIn',
            'hideMethod': 'fadeOut'
          };
          toastr['success'](message, title);

        } else if ('error' == type) {
          toastr.options = {
            'closeButton': true,
            'debug': false,
            'newestOnTop': false,
            'progressBar': true,
            'positionClass': 'toast-top-center',
            'preventDuplicates': true,
            'onclick': null,
            'showDuration': '300',
            'hideDuration': '1000',
            'timeOut': 5000,
            'extendedTimeOut': '1000',
            'showEasing': 'swing',
            'hideEasing': 'linear',
            'showMethod': 'fadeIn',
            'hideMethod': 'fadeOut'
          };
          toastr['error'](message, title)
        }

      }