extends layout
include components/productMediaListTable
block head
    - var titleVar = process.env.APP_NAME
block content
    .row
        .col-lg-12
            .pull-right
                a(href='/admin/products', title='Torna alla lista').btn.btn-accent='Torna alla lista'
                |&nbsp;&nbsp;
                a(href="/admin/product-media-detail?productId="+ productId, title='Inserisci un nuovo contenuto multimediale').btn.btn-accent='Nuovo contenuto multimediale'
    hr
    +productMediaListTable(productMediaList)