extends layout
include components/productAttachedListTable
block head
    - var titleVar = process.env.APP_NAME
block content
    .row
        .col-lg-12
            .pull-right
                a(href='/admin/products', title='Torna alla lista').btn.btn-accent='Torna alla lista'
                |&nbsp;&nbsp;
                a(href="/admin/product-attached-detail?productId="+ productId, title='Inserisci un nuovo allegato').btn.btn-accent='Nuovo Allegato'
    hr
    +productAttachedListTable(productAttachedList)