extends layout
block head
    - var titleVar = process.env.APP_NAME
    link(rel='stylesheet', href='/libs/fileinput/css/fileinput.css')
    link(rel='stylesheet', href='/libs/toastr/toastr.min.css')
    link(rel='stylesheet', href='/libs/jquery-ui/jquery-ui.css')
block content
    .row
        .col-lg-12
            .pull-right
                a(href="/admin/product-media-list/" + mediaObj.Id_prodotto, title='Torna alla lista').btn.btn-accent='Torna alla lista'
    hr
    .row
        .col-lg-12
            form#form(method='post')
                .panel.panel-filled
                    .panel-heading Informazioni principali
                    .panel-body
                        .row.form-group
                            .col-lg-12
                                if mediaObj.Nome
                                    label(for='Nome') Nome
                                    input.form-control#Nome(type='text', name='Nome', placeholder='Nome', maxlength='80', value=mediaObj.Titolo.replace("&#39;","'"))
                                else
                                    label(for='Nome') Nome
                                    input.form-control#Nome(type='text', name='Nome', placeholder='Nome', maxlength='80' value=mediaObj.Titolo)
                                span#characters.counter_titolo.pull-right 0/80
                                span.help-block Inserisci il Nome dell'url.
                                if mediaObj.Contenuto
                                    label(for='Contenuto') Contenuto
                                    textarea.form-control#Contenuto(type='text', name='Contenuto', placeholder='Contenuto')
                                        = mediaObj.Contenuto.replace("&#39;","'")
                                else
                                    label(for='Contenuto') Contenuto
                                    textarea.form-control#Contenuto(type='text', name='Contenuto', placeholder='Contenuto')
                                        = mediaObj.Contenuto
                                span.help-block Inserisci l'url.
                                label Qrcode
                                .checkbox
                                    label
                                        input(type='checkbox', id='cbQrCode', name='cbQrCode' onchange='toggleCheckbox(this)')
                                        | Abbina Qrcode
                                input.form-control#Id_qrcode(type='hidden', name='Id_qrcode', value=mediaObj.Id_qrcode)
                                if(!mediaObj.QRCode.Nome)
                                    #qrCodeDiv
                                        label(for='TitoloQrCode') Titolo di riferimento del QrCode
                                            input.form-control#TitoloQrCode(type='text', name='TitoloQrCode', value=mediaObj.QRCode.Nome)
                                        span.help-block Scegli un titolo per il QR code che verrà abbinato alla risorsa.
                                if(mediaObj.QRCode.Nome)
                                    include components/qrBox1
                                    include components/qrBox2
                                    .row
                                        .col-lg-6
                                            #box1
                                                +qrBox1(mediaObj.QRCode)
                                        .col-lg-6
                                            #box2
                                                +qrBox2(mediaObj.QRCode)

                .panel.panel-filled
                    .panel-body
                        .text-center
                            #box-actions
                                if mediaObj.Id
                                    input#btnPublish(type='submit', value='Salva cambiamenti' title='Salva cambiamenti').btn.btn-accent2
                                    |&nbsp;
                                    button#btnDeleteModal(type='button', title='Elimina', data-toggle='modal', data-target='#deleteModal').btn.btn-danger Elimina
                                else
                                    input#btnPublish(type='submit', value='Inserisci' title='Inserisci').btn.btn-accent2
                            #spinner
                                i.fa.fa-circle-o-notch.fa-spin
                                span=' Attendi...'
                            include components/deleteModal
                            + deleteModal('multimedia')

block scripts
    script(src='/libs/jquery/jquery-2.1.1.js')
    script(src='/libs/jquery-ui/jquery-ui.js')
    script(src='/scripts/jquery.form.js')
    script(src='/scripts/jquery.validate.js')
    script(src='/libs/toastr/toastr.min.js')
    script.
      $(document).ready(function () {
        var mediaObj = JSON.parse('!{media}');
        var itemId = mediaObj.Id;

        //showing checkbox if url have a qrcode
        if (mediaObj.Id_qrcode) {
          $('#cbQrCode').attr('checked', 'checked');
          $('#qrCodeDiv').show();
        } else {
          $('#qrCodeDiv').hide();
        }


        //END ADD
        showLoading(false);

        //DELETE
        $('#btnDelete').on('click', function () {
          showLoading(true);
          $.ajax({
            url:  '/admin/product-media-detail/' + itemId,
            type: 'DELETE',
            beforeSubmit: function (arr, $form, options) {

            },
            success: function () {
              $('#btnDeleteModal').attr('disabled', 'disabled');
              $('#btnPublish').attr('disabled', 'disabled');
              showLoading(false);
              showToast("success", "Elimina Contenuto Multimediale", "Contenuto Multimedial eliminato correttamente, verrai reindirizzato alla lista dei contenuti multimediali.");
              setTimeout(
                function () {
                  window.location.href = '/admin/product-media-list/' + mediaObj.Id_prodotto
                }, 3000);
            },
            error: function (request, errordata, errorObject) {
              showToast("error", "Elimina Contenuto Multimediale", "Elimina Contenuto Multimediale fallito");
              showLoading(false);
            }
          });
        });

        $('#btnPublish').on('click', function () {
          if ($('#form').valid()) {
            showLoading(true);

            if (itemId) {
              $('#form').ajaxForm({
                url: '/admin/product-media-detail/' + itemId + '?productId=' + mediaObj.Id_prodotto,
                type: 'PUT',
                beforeSubmit: function (arr, $form, options) {

                },
                success: function () {
                  $('#btnPublish').attr('disabled', 'disabled');
                  $('#btnDeleteModal').attr('disabled', 'disabled');
                  showLoading(false);
                  showToast("success", "Aggiornamento Contenuto Multimediale", "Contenuto Multimediale aggiornato correttamente, verrai reindirizzato alla lista dei contenuti multimediali.");
                  setTimeout(
                    function () {
                      window.location.href = '/admin/product-media-list/' + mediaObj.Id_prodotto
                    }, 3000);
                },
                error: function (request, errordata, errorObject) {
                  showToast("error", "Aggiornamento Contenuto Multimediale", "Aggiornamento Contenuto Multimediale fallito");
                  showLoading(false);
                }
              });
            }
            else {
              $('#form').ajaxForm({
                url: '/admin/product-media-detail?productId='+mediaObj.Id_prodotto,
                type: 'POST',
                beforeSubmit: function (arr, $form, options) {

                },
                success: function () {
                  $('#btnPublish').attr('disabled', 'disabled');
                  showLoading(false);
                  showToast("success", "Inserimento Contenuto Multimediale", "Contenuto Multimediale inserito correttamente, verrai reindirizzato alla lista dei contenuti multimediali.");
                  setTimeout(
                    function () {
                      window.location.href = '/admin/product-media-list/' + mediaObj.Id_prodotto
                    }, 3000);
                },
                error: function (request, errordata, errorObject) {
                  showToast("error", "Inserimento Contenuto Multimediale", "Inserimento Contenuto Multimediale fallito");
                  showLoading(false);
                }
              });
            }
          }
        });

        //VALIDATION PLUGIN
        $('#form').validate({
          ignore:[],
          rules: {
            Nome: {
              required: true
            },
            Contenuto: {
              required: true
            }
          },
          messages: {
            Titolo: 'Campo richiesto',
            Contenuto: 'Campo richiesto'
          },
          //Testing the new method
          highlight: function (element) {
            $(element).closest('.form-group').addClass('has-error');
          },
          unhighlight: function (element) {
            $(element).closest('.form-group').removeClass('has-error');
          },
          errorElement: 'p',
          errorClass: 'help-block',
          errorPlacement: function (error, element) {
          }
        });

      });

      //Hanling oncheck checkbox
      function toggleCheckbox(element) {
        if (element.checked) {
          //TODO: Show hidden input field to set QR name
          $('#qrCodeDiv').show();
        } else {
          //TODO: Dismiss hidden input for setting QR name
          $('#qrCodeDiv').hide();
        }
      }

      function showLoading(isLoading) {
        if (isLoading) {
          $('#box-actions').hide();
          $('#spinner').show();
        } else {
          $('#box-actions').show();
          $('#spinner').hide();
        }
      }

      function showToast(type, title, message) {
        if ('success' == type) {
          toastr.options = {
            'closeButton': true,
            'debug': false,
            'newestOnTop': false,
            'progressBar': true,
            'positionClass': 'toast-top-center',
            'preventDuplicates': true,
            'onclick': null,
            'showDuration': '300',
            'hideDuration': '1000',
            'timeOut': 5000,
            'extendedTimeOut': '1000',
            'showEasing': 'swing',
            'hideEasing': 'linear',
            'showMethod': 'fadeIn',
            'hideMethod': 'fadeOut'
          };
          toastr['success'](message, title);

        } else if ('error' == type) {
          toastr.options = {
            'closeButton': true,
            'debug': false,
            'newestOnTop': false,
            'progressBar': true,
            'positionClass': 'toast-top-center',
            'preventDuplicates': true,
            'onclick': null,
            'showDuration': '300',
            'hideDuration': '1000',
            'timeOut': 5000,
            'extendedTimeOut': '1000',
            'showEasing': 'swing',
            'hideEasing': 'linear',
            'showMethod': 'fadeIn',
            'hideMethod': 'fadeOut'
          };
          toastr['error'](message, title)
        }

      }