extends layout
block head
    - var titleVar = process.env.APP_NAME
    link(rel='stylesheet', href='/libs/fileinput/css/fileinput.css')
    link(rel='stylesheet', href='/libs/toastr/toastr.min.css')
    link(rel='stylesheet', href='/libs/jquery-ui/jquery-ui.css')
block content
    .row
        .col-lg-12
            .pull-right
                a(href="/admin/product-attached-list/" + attachmentObj.Id_prodotto, title='Torna alla lista').btn.btn-accent='Torna alla lista'
    hr
    .row
        .col-lg-12
            form#form(method='post')
                .panel.panel-filled
                    .panel-heading Informazioni principali
                    .panel-body
                        .row
                            .col-lg-6
                                .form-group
                                    if attachmentObj.Nome
                                        label(for='Titolo') Titolo del documento
                                        input.form-control#Titolo(type='text', name='Titolo', placeholder='Titolo', maxlength='80', value=attachmentObj.Nome.replace("&#39;", "'"))
                                    else
                                        label(for='Titolo') Titolo
                                        input.form-control#Titolo(type='text', name='Titolo', placeholder='Titolo', maxlength='80', value)
                                    span.help-block Inserisci il titolo del documento.
                            .col-lg-6
                                .form-group
                                    label(for='ddlTypes') Tipologia di documento
                                    br
                                    select#ddlTypes.form-control(name='ddlTypes')
                                        each type in attachmentTypes
                                            - var selectedType = false
                                            if attachmentObj.Tipo_allegato
                                                - selectedType = (type === attachmentObj.Tipo_allegato)
                                            option(selected=selectedType, value=type)=type
                                    span.help-block Seleziona la tipologia documento.
                        .row
                            .col-lg-12
                                .form-group
                                    label(for='input-allegato') Allegato
                                    input.form-control#input-allegato(type='file', name='allegato')
                                    span.help-block Allega documento pdf
                                if attachmentObj.Id && attachmentObj.filePreview
                                    .form-group#pdf-preview
                                        label Anteprima allegato PDF
                                        p
                                            a(href=attachmentObj.filePreview, target='_blank', title='Guarda anteprima').btn.btn-default.btn-md='Guarda anteprima'
                                            span.help-block Apri l'allegato in una nuova scheda
                                .form-group
                                    label Qrcode
                                    .checkbox
                                        label
                                            input(type='checkbox', id='cbQrCode' name='cbQrCode' onchange='toggleCheckbox(this)')
                                            | Abbina Qrcode
                                    input.form-control#Id_qrcode(type='hidden', name='Id_qrcode', value=attachmentObj.Id_qrcode)
                                    if(!attachmentObj.QRCode.Nome)
                                        #qrCodeDiv
                                            label(for='TitoloQrCode') Titolo di riferimento del QrCode
                                                input.form-control#TitoloQrCode(type='text', name='TitoloQrCode', value=attachmentObj.QRCode.Nome)
                                            span.help-block Scegli un titolo per il QR code che verrà abbinato alla risorsa.
                                    if(attachmentObj.QRCode.Nome)
                                        include components/qrBox1
                                        include components/qrBox2
                                        .row
                                            .col-lg-6
                                                #box1
                                                    +qrBox1(attachmentObj.QRCode)
                                            .col-lg-6
                                                #box2
                                                    +qrBox2(attachmentObj.QRCode)
                .panel.panel-filled
                    .panel-body
                        .text-center
                            #box-actions
                                if attachmentObj.Id
                                    input#btnPublish(type='submit', value='Salva cambiamenti' title='Salva cambiamenti').btn.btn-accent2
                                    |&nbsp;
                                    button#btnDeleteModal(type='button', title='Elimina', data-toggle='modal', data-target='#deleteModal').btn.btn-danger Elimina
                                else
                                    input#btnPublish(type='submit', value='Inserisci' title='Inserisci').btn.btn-accent2
                            #spinner
                                i.fa.fa-circle-o-notch.fa-spin
                                span=' Attendi...'
                            include components/deleteModal
                            + deleteModal('attachment')

block scripts
    script(src='/libs/jquery-ui/jquery-ui.js')
    script(src='/scripts/jquery.form.js')
    script(src='/scripts/jquery.validate.js')
    script(src='/libs/fileinput/js/fileinput.min.js')
    script(src='/libs/fileinput/js/fileinput_locale_it.js')
    script(src='/libs/toastr/toastr.min.js')
    script.
      $(document).ready(function () {
        var attachmentObj = JSON.parse('!{attachment}');

        var itemId = attachmentObj.Id;

        //showing checkbox if promo have a qrcode
        if (attachmentObj.Id_qrcode) {
          $('#cbQrCode').attr('checked', 'checked');
          $('#qrCodeDiv').show();
        } else {
          $('#qrCodeDiv').hide();
        }

        //END ADD
        showLoading(false);

        //DELETE
        $('#btnDelete').on('click', function () {
          showLoading(true);
          $.ajax({
            url:  '/admin/product-attached-detail/' + itemId,
            type: 'DELETE',
            beforeSubmit: function (arr, $form, options) {

            },
            success: function () {
              $('#btnDeleteModal').attr('disabled', 'disabled');
              $('#btnPublish').attr('disabled', 'disabled');
              showLoading(false);
              //disable button coz we will redirect!
              showToast("success", "Elimina Allegato", "Allegato eliminato correttamente, verrai reindirizzato alla lista degli allegati.");
              setTimeout(
                function () {
                  //TODO:
                  window.location.href = '/admin/product-attached-list/'+attachmentObj.Id_prodotto
                }, 3000);
            },
            error: function (request, errordata, errorObject) {
              showToast("error", "Elimina Allegato", "Elimina allegato fallito");
              showLoading(false);
            }
          });
        });

        $('#btnPublish').on('click', function () {
          if ($('#form').valid()) {
            showLoading(true);

            if (itemId) {
              $('#form').ajaxForm({
                url: '/admin/product-attached-detail/' + itemId +'?productId='+attachmentObj.Id_prodotto,
                type: 'PUT',
                beforeSubmit: function (arr, $form, options) {

                },
                success: function () {
                  //disable button coz we will redirect!
                  $('#btnPublish').attr('disabled', 'disabled');
                  $('#btnDeleteModal').attr('disabled', 'disabled');
                  showLoading(false);
                  showToast("success", "Aggiornamento Allegato", "Allegato aggiornato correttamente, verrai reindirizzato alla lista degli allegati.");
                  setTimeout(
                    function () {
                      window.location.href = '/admin/product-attached-list/'+attachmentObj.Id_prodotto
                    }, 3000);
                },
                error: function (request, errordata, errorObject) {
                  showToast("error", "Aggiornamento Allegato", "Aggiornamento allegato fallito");
                  showLoading(false);
                }
              });
            }
            else {
              $('#form').ajaxForm({
                url: '/admin/product-attached-detail?productId='+attachmentObj.Id_prodotto,
                type: 'POST',
                beforeSubmit: function (arr, $form, options) {

                },
                success: function () {
                  //disable button coz we will redirect!
                  $('#btnPublish').attr('disabled', 'disabled');
                  showLoading(false);
                  showToast("success", "Inserimento Allegato", "Allegato inserito correttamente, verrai reindirizzato alla lista degli allegati.");
                  setTimeout(
                    function () {
                      window.location.href = '/admin/product-attached-list/'+attachmentObj.Id_prodotto
                    }, 3000);
                },
                error: function (request, errordata, errorObject) {
                  showLoading(false);
                  if(errordata && errordata.message){
                    showToast("error", "Attenzione!", errordata.message);
                  }else {
                    showToast("error", "Inserimento Allegato", "Inserimento allegato fallito");
                  }
                }
              });
            }
          }
        });

        var filePreview  = [];
        filePreview.push(attachmentObj.filePreview);

        buildFileUpload('#input-allegato', 1, "/admin/product-attached-detail/file", filePreview);

        //VALIDATION PLUGIN
        $('#form').validate({
          ignore:[],
          rules: {
            Titolo: {
              minlength: 6,
              maxlength: 80,
              required: true
            }
          },
          messages: {
            Titolo: 'Campo richiesto'
          },
          //Testing the new method
          highlight: function (element) {
            $(element).closest('.form-group').addClass('has-error');
          },
          unhighlight: function (element) {
            $(element).closest('.form-group').removeClass('has-error');
          },
          errorElement: 'p',
          errorClass: 'help-block',
          errorPlacement: function (error, element) {

            if (element.attr("name") == "Descrizione_hidden") {
              error.insertAfter("input#Descrizione_hidden");
            } else {
              error.insertAfter(element);
            }
          }
        });

      });

      //Hanling oncheck checkbox
      function toggleCheckbox(element) {
        if (element.checked) {
          //TODO: Show hidden input field to set QR name
          $('#qrCodeDiv').show();
        } else {
          //TODO: Dismiss hidden input for setting QR name
          $('#qrCodeDiv').hide();
        }
      }

      function showLoading(isLoading) {
        if (isLoading) {
          $('#box-actions').hide();
          $('#spinner').show();
        } else {
          $('#box-actions').show();
          $('#spinner').hide();
        }
      }

      function buildFileUpload(selector, maxFileCount, postUrl, filePreview) {
          /*IMAGE UPLOAD*/
        //Footer for the image upload preview actually hiding the footer
        var footerTemplate = '<div class="file-thumbnail-footer" style="display:none">\n' +
          '</div>';

        //Editing the progress bar style here
        var progress = '<div class="progress">\n' +
          '    <div class="progress-bar progress-bar-success progress-bar-striped text-center" role="progressbar" aria-valuenow="{percent}" aria-valuemin="0" aria-valuemax="100" style="width:{percent}%;">\n' +
          '        {percent}%\n' +
          '     </div>\n' +
          '</div>';

        var _filePreview = filePreview[0];
        //Test purposes
        //var _filePreview = 'http://kartik-v.github.io/bootstrap-fileinput-samples/samples/pdf-sample.pdf';

        /** init the file input */
        $(selector).fileinput({
          language: 'it',
          maxFileSize: 20000,
          dropZoneEnabled: false,
          multiple: true,
          allowedFileExtensions: ["pdf"],
          autoReplace: true,
          overwriteInitial: true,
          showUploadedThumbs: false,
          maxFileCount: maxFileCount,
          uploadUrl: postUrl,

          preferIconicPreview: true, // this will force thumbnails to display icons for following file extensions
          allowedPreviewTypes: null,
          previewFileIcon: '<i class="fa fa-file"></i>',
          previewFileIconSettings: {
            'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>'
          },

          uploadAsync: true,
          showCancel: false,
          showUpload: false,
          showRemove: false,
          showPreview: true,
          showClose: false,
          layoutTemplates: {
            footer: '<div class="file-thumbnail-footer">\n' +
            '   <div class="file-caption-name">{caption}</div>\n' +
            '   {actions}\n' +
            '</div>',
            actions: '<div class="file-actions">\n' +
            '    <div class="file-footer-buttons">\n' +
            '         ' +
            '    </div>\n' +
            '    <div class="file-upload-indicator" title="{indicatorTitle}">{indicator}</div>\n' +
            '    <div class="clearfix"></div>\n' +
            '</div>'
          },
          initialPreview: [_filePreview],
          initialPreviewAsData: true,
          initialPreviewFileType: 'image',
          initialPreviewConfig: [
            {type: "pdf", caption:"Allegato.pdf", key: 1}
          ],
          initialPreviewShowDelete: 'any',
          removeFromPreviewOnError: true
        }).on("filebatchselected", function (event, files) {
          if (files && files.length > 0) {
            $('#pdf-preview').hide();
            $(selector).fileinput("upload");
          }
        }).on('filebatchuploadcomplete', function (event, data) {
          //alert("data: " + data);
        }).on('filebrowse', function (event) {
          //$("#input-foto").fileinput("clear"); // This actually supposed to clear uploaded files to allow you upload a new one without see the old one.
        }).on('fileclear', function (event) {
          $('#btnPublish').show();
        }).on('fileuploaded', function (event, data, previewId, index) {
          $('#btnPublish').show();
        }).on('filepreupload', function (event, data, previewId, index) {
          $('#btnPublish').hide();
        }).on('fileuploaderror', function (event, data, previewId, index) {
          $('#btnPublish').show();
        }).on('fileerror', function (event, data, previewId, index) {
          $('#btnPublish').show();
        }).on('filedeleted', function (event, key) {
          //console.log('key : ' + key);
        }).on('filepredelete', function (event, key) {
          //
          // console.log('key : ' + key);
        });
      }

      function showToast(type, title, message) {
        if ('success' == type) {
          toastr.options = {
            'closeButton': true,
            'debug': false,
            'newestOnTop': false,
            'progressBar': true,
            'positionClass': 'toast-top-center',
            'preventDuplicates': true,
            'onclick': null,
            'showDuration': '300',
            'hideDuration': '1000',
            'timeOut': 5000,
            'extendedTimeOut': '1000',
            'showEasing': 'swing',
            'hideEasing': 'linear',
            'showMethod': 'fadeIn',
            'hideMethod': 'fadeOut'
          };
          toastr['success'](message, title);

        } else if ('error' == type) {
          toastr.options = {
            'closeButton': true,
            'debug': false,
            'newestOnTop': false,
            'progressBar': true,
            'positionClass': 'toast-top-center',
            'preventDuplicates': true,
            'onclick': null,
            'showDuration': '300',
            'hideDuration': '1000',
            'timeOut': 5000,
            'extendedTimeOut': '1000',
            'showEasing': 'swing',
            'hideEasing': 'linear',
            'showMethod': 'fadeIn',
            'hideMethod': 'fadeOut'
          };
          toastr['error'](message, title)
        }

      }