extends layout
include components/productGalleryListTable
block head
    - var titleVar = process.env.APP_NAME
block content
    .row
        .col-lg-12
            .pull-right
                a(href='/admin/products', title='Torna alla lista').btn.btn-accent='Torna alla lista'
                |&nbsp;&nbsp;
                a(href="/admin/product-gallery-detail?productId="+ productId, title='Inserisci una nuova Gallery').btn.btn-accent='Nuova Galleria'
    hr
    +productGalleryListTable(productGalleryList)