extends layout
include components/promoTable
block head
    - var titleVar = process.env.APP_NAME
block content
    .row
        .col-lg-12
            .pull-right
                a(href='/admin/promo-detail', title='Inserisci una nuova Promo').btn.btn-accent='Nuova Promozione'
    hr
    +tablePromo(promoList)