extends layout
include components/qrTable
block head
    - var titleVar = process.env.APP_NAME
block content
    .row
        .col-lg-12
            .pull-right
                a(href='/admin/qrcode-detail', title='Abbina un nuovo qr-code').btn.btn-accent='Nuovo abbinamento'
                | &nbsp;&nbsp;
                a(onclick='restoreInitialDataTableOrder()' title='Ripristina ordinamento iniziale tabella').btn.btn-default.btn-md.fa.fa-refresh
    hr
    +qrTable(qrList)
block scripts
    script(src='/scripts/fnSortNeutral.js')
    script.
      function restoreInitialDataTableOrder() {
        var table = $('#qrTable').dataTable();

        // Sort in the order that was originally in the HTML
        table.fnSortNeutral();
      }
