extends layout
include components/qrBox1
include components/qrBox2
block head
    - var titleVar = process.env.APP_NAME
    link(rel='stylesheet', href='/libs/toastr/toastr.min.css')
block content
    .row
        .col-lg-12
            .pull-right
                a(href='/admin/qrcodes', title='Torna alla lista Qr-Code').btn.btn-accent='Torna alla Lista Qr-Code'
    hr
    .row
        .col-lg-12
            form#form(method='post')
                .panel.panel-filled
                    //.panel-heading
                    .panel-body
                        .row.form-group
                            .col-lg-6
                                if qrCode.Nome
                                    label(for='Titolo') Titolo di riferimento del Qr-Code
                                    input.form-control#Titolo(type='text', name='Titolo', placeholder='Titolo', maxlength='80', value=qrCode.Nome.replace("&#39;", "'"))
                                else
                                    label(for='Titolo') Titolo
                                    input.form-control#Titolo(type='text', name='Titolo', placeholder='Titolo', maxlength='80', value)
                                span#characters.counter_titolo.pull-right 0/80
                            .col-lg-6
                                label(for='ddlTypes') Tipologia di risorsa
                                br
                                select#ddlTypes.form-control(name='ddlTypes')
                                    option(value='') Seleziona...
                                    each type in qrCodeTypes
                                        - var selectedType = false
                                        if qrCode
                                            - selectedType = (type.mapping === qrCode.Tipo_risorsa)
                                        option(selected=selectedType, value=type.value)=type.name
                        .row.form-group
                            .col-lg-12
                                #spinner.text-center
                                    i.fa.fa-circle-o-notch.fa-spin
                                    span=' Attendi...'
                                #tableBox
                                    input.form-control#resourceId(type='hidden', name='resourceId', value=qrCode.Id_risorsa)
                                    table#qrTable.table.table-striped.table-hover(style='width:100%;')
                        .row.form-group
                            .col-lg-12
                                #box-actions.text-center
                                    input#btnPublish(type='submit', value='Salva cambiamenti' title='Salva cambiamenti').btn.btn-accent2
                                    #spinner1.text-center
                                        i.fa.fa-circle-o-notch.fa-spin
                                        span=' Attendi...'
    .row
        .col-lg-6
            #box1
                +qrBox1(qrCode)
        .col-lg-6
            #box2
                +qrBox2(qrCode)

block scripts
    script(src='/libs/jquery-ui/jquery-ui.js')
    script(src='/scripts/jquery.form.js')
    script(src='/scripts/jquery.validate.js')
    script(src='/libs/toastr/toastr.min.js')
    script.
      var qrCode;
      var lastItem;
      $(document).ready(function () {
        showLoading(false);
        showPostLoading(false);
        qrCode = !{qrCodeString};

        if(!qrCode.Nome) {
          $('#box1').hide();
          $('#box2').hide();
        }else {
          triggerSource($('#ddlTypes'));

        }

        $('#ddlTypes').on('change', function () {
            $('#resourceId').val('');
            var type = $('#ddlTypes').val();
            if (type === '') {
              $('#tableBox').hide();
              $('#fieldUrlBox').hide();
            }
            else {
              //Get resource list
              showLoading(true);
              var url = '/admin'
              $.get('/admin/qrcode-resources?type=' + type, function (data) {
                //Build resource table
                buildTable(data);
                $('#tableBox').show();
                showLoading(false);
              }).fail(function (error) {
                showToast("error", "Risorsa QrCode", "L'elenco delle risorse non è stato recuperato correttamnete. Riprova o contatta l'assistenza.");
                showLoading(false);
                $('#tableBox').hide();
              });
            }
          }
        );


        $('#btnPublish').on('click', function () {
          if ($('#form').valid()) {

            if (qrCode && qrCode.Id) {
              showPostLoading(true);
              $('#form').ajaxForm({
                url: '/admin/qrcode-detail/' + qrCode.Id,
                type: 'PUT',
                beforeSubmit: function (arr, $form, options) {

                },
                success: function () {
                  showPostLoading(false);
                  showToast("success", "Aggiornamento Qr-Code", "Qr-Code aggiornato correttamente.");
                },
                error: function (request, errordata, errorObject) {
                  showPostLoading(false);
                  showToast("error", "Aggiornamento Qr-Code", "Aggiornamento Qr-Code fallito");
                }
              });
            }
            else {
              showLoading(true);
              $('#form').ajaxForm({
                url: '/admin/qrcode-detail',
                type: 'POST',
                beforeSubmit: function (arr, $form, options) {

                },
                success: function () {
                  showPostLoading(false);
                  showToast("success", "Inserimento Qr-Code", "Qr-Code inserito correttamente, verrai reindirizzato alla lista dei Qr-Code.");
                  setTimeout(
                    function () {
                      window.location.href = '/admin/qrcodes';
                    }, 3000);
                },
                error: function (request, errordata, errorObject) {
                  showToast("error", "Inserimento Qr-Code", "Inserimento Qr-Code fallito");
                  showPostLoading(false);
                }
              });
            }
          }
        });

        //VALIDATION PLUGIN
        $('#form').validate({
          ignore: [],
          rules: {
            Titolo: {
              required: true
            },
            ddlTypes: {
              required: true
            },
            resourceId: {
              required: true
            }
          },
          messages: {
            Titolo: 'Campo richiesto.',
            ddlTypes: 'Seleziona un tipo risorsa.',
            resourceId: 'Devi selezionare una risorsa dalla tabella'
          },
          //Testing the new method
          highlight: function (element) {
            $(element).closest('.form-group').addClass('has-error');
          },
          unhighlight: function (element) {
            $(element).closest('.form-group').removeClass('has-error');
          },
          errorElement: 'p',
          errorClass: 'help-block',
          errorPlacement: function (error, element) {

            if (element.attr("name") == "Descrizione_hidden") {
              error.insertAfter("input#Descrizione_hidden");
            } else {
              error.insertAfter(element);
            }
          }
        });

      });

      //Handle on click
      function matchQrCode (obj, isShowToast) {
        if(lastItem && lastItem.hasClass('btn-success')){
          lastItem.removeClass('btn-success');
          lastItem.addClass('btn-default');
        }

        lastItem = $(obj);
        $('#resourceId').val($(obj).attr('data-item'));
        $(obj).addClass('btn-success');
        $(obj).removeClass('btn-default');

        if(isShowToast) {
          showToast('success', 'Risorsa abbinata', 'Ricordati di salvare i cambiamenti.');
        }
      }

      function triggerSource(obj){
          var type = obj.val();
          if (type === '') {
            $('#tableBox').hide();
            $('#fieldUrlBox').hide();
          }
          else {
            //Get resource list
            showLoading(true);
            var url = '/admin'
            $.get('/admin/qrcode-resources?type=' + type + '&idResource=' + qrCode.Id_risorsa, function (data) {
              //Build resource table
              buildTable(data);
              $('#tableBox').show();
              showLoading(false);
            }).fail(function (error) {
              showToast("error", "Risorsa QrCode", "L'elenco delle risorse non è stato recuperato correttamnete. Riprova o contatta l'assistenza.");
              showLoading(false);
              $('#tableBox').hide();
            });
          }
      }

      function buildTable(origin) {
        if(origin) {
          //Testing destroy datatable before recreate it
          //$('#qrTable').DataTable().clear();
          var dt = $('#qrTable').DataTable({
            destroy: true,
            dom: 'stp',
            paging: true,
            searching: false,
            ordering: true,
            order: [],
            data : origin.data,
            columns: origin.columns,
            rowCallback: function (row, data) {
              if($('#resourceId').val() && data.Id === qrCode.Id_risorsa){
                matchQrCode($(row).find('a')[0], false);
                $(row).addClass('selected');
              }
            }
          }); //table.row('#row-42');
        }
      }

      function showLoading(isLoading) {
        if (isLoading) {
          $('#spinner').show();
        } else {
          $('#spinner').hide();
        }
      }

      function showPostLoading(isLoading) {
        if (isLoading) {
          $('#spinner1').show();
          $('#btnPublish').hide();
        } else {
          $('#spinner1').hide();
          $('#btnPublish').show();
        }
      }


      function showToast(type, title, message) {

        toastr.remove()

        if ('success' == type) {
          toastr.options = {
            'closeButton': true,
            'debug': false,
            'newestOnTop': false,
            'progressBar': true,
            'positionClass': 'toast-top-center',
            'preventDuplicates': true,
            'onclick': null,
            'showDuration': '300',
            'hideDuration': '1000',
            'timeOut': 5000,
            'extendedTimeOut': '1000',
            'showEasing': 'swing',
            'hideEasing': 'linear',
            'showMethod': 'fadeIn',
            'hideMethod': 'fadeOut'
          };

          toastr['success'](message, title);

        } else if ('error' == type) {
          toastr.options = {
            'closeButton': true,
            'debug': false,
            'newestOnTop': false,
            'progressBar': true,
            'positionClass': 'toast-top-center',
            'preventDuplicates': true,
            'onclick': null,
            'showDuration': '300',
            'hideDuration': '1000',
            'timeOut': 5000,
            'extendedTimeOut': '1000',
            'showEasing': 'swing',
            'hideEasing': 'linear',
            'showMethod': 'fadeIn',
            'hideMethod': 'fadeOut'
          };
          toastr['error'](message, title)
        }
      }

      //Handle automatic counter
      $('#Titolo').keyup(function () {
        var cs = $(this).val().length;
        $('#characters').text(cs + "/80");
        $('#Titolo').valid();
      });
