extends layout
block head
    - var titleVar = process.env.APP_NAME
    link(rel='stylesheet', href='/libs/fileinput/css/fileinput.css')
    link(rel='stylesheet', href='/libs/toastr/toastr.min.css')
    link(rel='stylesheet', href='/libs/datetime-picker/css/bootstrap-datetimepicker.css')
    link(rel='stylesheet', href='/libs/jquery-ui/jquery-ui.css')
block content
    .row
        .col-lg-12
            form#form(method='post')
                .panel.panel-filled
                    .panel-heading Informazioni principali
                    .panel-body
                        .row.form-group
                            .col-lg-12
                                if urlObj.Nome
                                    label(for='Nome') Nome
                                    input.form-control#Nome(type='text', name='Nome', placeholder='Nome', maxlength='80', value=urlObj.Nome.replace("&#39;","'"))
                                else
                                    label(for='Nome') Nome
                                    input.form-control#Nome(type='text', name='Nome', placeholder='Nome', maxlength='80')
                                span#characters.counter_titolo.pull-right 0/80
                                span.help-block Inserisci il Nome dell'url.
                                if urlObj.Contenuto
                                    label(for='Contenuto') Contenuto
                                    input.form-control#Contenuto(type='text', name='Contenuto', placeholder='Contenuto', value=urlObj.Contenuto.replace("&#39;", "'"))
                                else
                                    label(for='Contenuto') Contenuto
                                    input.form-control#Contenuto(type='text', name='Contenuto', placeholder='Contenuto')
                                span.help-block Inserisci l'url.
                                label Qrcode
                                .checkbox
                                    label
                                        input(type='checkbox', id='cbQrCode', name='cbQrCode' onchange='toggleCheckbox(this)')
                                        | Abbina Qrcode
                                input.form-control#Id_qrcode(type='hidden', name='Id_qrcode', value=urlObj.Id_qrcode)
                                if(!urlObj.QRCode.Nome)
                                    #qrCodeDiv
                                        label(for='TitoloQrCode') Titolo di riferimento del QrCode
                                            input.form-control#TitoloQrCode(type='text', name='TitoloQrCode', value=urlObj.QRCode.Nome)
                                        span.help-block Scegli un titolo per il QR code che verrà abbinato alla risorsa.
                                if(urlObj.QRCode.Nome)
                                    include components/qrBox1
                                    include components/qrBox2
                                    .row
                                        .col-lg-6
                                            #box1
                                                +qrBox1(urlObj.QRCode)
                                        .col-lg-6
                                            #box2
                                                +qrBox2(urlObj.QRCode)
                .panel.panel-filled
                    .panel-body
                        .text-center
                            #box-actions
                                if urlObj.Id
                                    input#btnPublish(type='submit', value='Salva cambiamenti' title='Salva cambiamenti').btn.btn-accent2
                                    |&nbsp;
                                    button#btnDeleteModal(type='button', title='Elimina', data-toggle='modal', data-target='#deleteModal').btn.btn-danger Elimina
                                else
                                    input#btnPublish(type='submit', value='Inserisci' title='Inserisci').btn.btn-accent2
                            #spinner
                                i.fa.fa-circle-o-notch.fa-spin
                                span=' Attendi...'
                            include components/deleteModal
                            + deleteModal('url')

block scripts
    script(src='/libs/jquery/jquery-2.1.1.js')
    script(src='/libs/jquery-ui/jquery-ui.js')
    script(src='/scripts/jquery.form.js')
    script(src='/scripts/jquery.validate.js')
    script(src='/libs/toastr/toastr.min.js')
    script.
      $(document).ready(function () {
        var urlObj = !{url};
        var itemId = urlObj.Id;

        //showing checkbox if url have a qrcode
        if (urlObj.Id_qrcode) {
          $('#cbQrCode').attr('checked', 'checked');
          $('#qrCodeDiv').show();
        } else {
          $('#qrCodeDiv').hide();
        }


        //END ADD
        showLoading(false);

        //DELETE
        $('#btnDelete').on('click', function () {
          showLoading(true);
          $.ajax({
            url:  '/admin/url-detail/' + itemId,
            type: 'DELETE',
            beforeSubmit: function (arr, $form, options) {

            },
            success: function () {
              showLoading(false);
              showToast("success", "Elimina Url", "Url eliminato correttamente, verrai reindirizzato alla lista degli url.");
              setTimeout(
                function () {
                  window.location.href = '/admin/urls';
                }, 3000);
            },
            error: function (request, errordata, errorObject) {
              showToast("error", "Elimina Url", "Elimina url fallito");
              showLoading(false);
            }
          });
        });

        $('#btnPublish').on('click', function () {
          if ($('#form').valid()) {
            showLoading(true);

            if (itemId) {
              $('#form').ajaxForm({
                url: '/admin/url-detail/' + itemId,
                type: 'PUT',
                beforeSubmit: function (arr, $form, options) {

                },
                success: function () {
                  showLoading(false);
                  showToast("success", "Aggiornamento Url", "Url aggiornato correttamente, verrai reindirizzato alla lista degli url.");
                  setTimeout(
                    function () {
                      window.location.href = '/admin/urls';
                    }, 3000);
                },
                error: function (request, errordata, errorObject) {
                  showToast("error", "Aggiornamento Url", "Aggiornamento url fallito");
                  showLoading(false);
                }
              });
            }
            else {
              $('#form').ajaxForm({
                url: '/admin/url-detail',
                type: 'POST',
                beforeSubmit: function (arr, $form, options) {

                },
                success: function () {
                  showLoading(false);
                  showToast("success", "Inserimento Url", "Url inserito correttamente, verrai reindirizzato alla lista degli url.");
                  setTimeout(
                    function () {
                      window.location.href = '/admin/urls';
                    }, 3000);
                },
                error: function (request, errordata, errorObject) {
                  showToast("error", "Inserimento Url", "Inserimento url fallito");
                  showLoading(false);
                }
              });
            }
          }
        });

        //Handle automatic counter
        $('#Titolo').keyup(function () {
          var cs = $(this).val().length;
          $('#characters').text(cs + "/80");
          $('#Titolo').valid();
        });


        //VALIDATION PLUGIN
        $('#form').validate({
          ignore:[],
          rules: {
            Nome: {
              required: true
            },
            Contenuto: {
              required: true
            }
          },
          messages: {
            Titolo: 'campo richiesto',
            Descrizione_plain_hidden: 'campo richiesto',
            ds_location: 'campo richiesto'
          },
          //Testing the new method
          highlight: function (element) {
            $(element).closest('.form-group').addClass('has-error');
          },
          unhighlight: function (element) {
            $(element).closest('.form-group').removeClass('has-error');
          },
          errorElement: 'p',
          errorClass: 'help-block',
          errorPlacement: function (error, element) {
          }
        });

      });

      //Hanling oncheck checkbox
      function toggleCheckbox(element) {
        if (element.checked) {
          //TODO: Show hidden input field to set QR name
          $('#qrCodeDiv').show();
        } else {
          //TODO: Dismiss hidden input for setting QR name
          $('#qrCodeDiv').hide();
        }
      }

      function showLoading(isLoading) {
        if (isLoading) {
          $('#box-actions').hide();
          $('#spinner').show();
        } else {
          $('#box-actions').show();
          $('#spinner').hide();
        }
      }

      function buildFileUpload(selector, maxFileCount, postUrl) {
          /*IMAGE UPLOAD*/
        //Footer for the image upload preview actually hiding the footer
        var footerTemplate = '<div class="file-thumbnail-footer" style="display:none">\n' +
          '</div>';

        //Editing the progress bar style here
        var progress = '<div class="progress">\n' +
          '    <div class="progress-bar progress-bar-success progress-bar-striped text-center" role="progressbar" aria-valuenow="{percent}" aria-valuemin="0" aria-valuemax="100" style="width:{percent}%;">\n' +
          '        {percent}%\n' +
          '     </div>\n' +
          '</div>';


        /** init the file input */
        $(selector).fileinput({
          language: 'it',
          minImageWidth: 640,
          minImageHeight: 480,
          maxFileSize: 20000,
          dropZoneEnabled: false,
          allowedFileExtensions: ["pdf"],
          maxFileCount: maxFileCount,
          uploadUrl: postUrl,
          uploadAsync: true,
          showCancel: false,
          showUpload: false,
          showRemove: false,
          showPreview: true,
          showClose: false,
          initialPreviewShowDelete: 'any',
          removeFromPreviewOnError: true
        }).on("filebatchselected", function (event, files) {
          // trigger upload method immediately after files are selected
          $(selector).fileinput("upload");
        }).on('filebatchuploadcomplete', function (event, data) {
          //alert("data: " + data);
        }).on('filebrowse', function (event) {
          //$("#input-foto").fileinput("clear"); // This actually supposed to clear uploaded files to allow you upload a new one without see the old one.
        }).on('fileclear', function (event) {
          $('#btnPublish').show();
        }).on('fileuploaded', function (event, data, previewId, index) {
          $('#btnPublish').show();
        }).on('filepreupload', function (event, data, previewId, index) {
          $('#btnPublish').hide();
        }).on('fileuploaderror', function (event, data, previewId, index) {
          $('#btnPublish').show();
        }).on('fileerror', function (event, data, previewId, index) {
          $('#btnPublish').show();
        }).on('filedeleted', function (event, key) {
          //console.log('key : ' + key);
        }).on('filepredelete', function (event, key) {
          //
          // console.log('key : ' + key);
        });
      }

      function buildImageUpload(selector,maxFileCount, postUrl, imageList, type) {
          /*IMAGE UPLOAD*/
        //Footer for the image upload preview actually hiding the footer
        var footerTemplate = '<div class="file-thumbnail-footer" style="display:none">\n' +
          '</div>';

        //Editing the progress bar style here
        var progress = '<div class="progress">\n' +
          '    <div class="progress-bar progress-bar-success progress-bar-striped text-center" role="progressbar" aria-valuenow="{percent}" aria-valuemin="0" aria-valuemax="100" style="width:{percent}%;">\n' +
          '        {percent}%\n' +
          '     </div>\n' +
          '</div>';


        arrayImages = [];
        arrayImagesConfig = [];

        if (imageList && imageList.constructor === Array) {
          imageList.forEach(function (img) {
            arrayImages.push("<img src='#{process.env.SERVER_IMAGE}?id=" + img + "' class='file-preview-image' alt='image'>");
          });
        }


        /** init the file input */
        $(selector).fileinput({
          language: 'it',
          minImageWidth: 640,
          minImageHeight: 480,
          maxFileSize: 4096,
          dropZoneEnabled: false,
          allowedFileExtensions: ["jpg", "jpeg"],
          maxFileCount: maxFileCount,
          uploadUrl: postUrl,
          uploadAsync: true,
          showCancel:false,
          showUpload:false,
          showRemove:false,
          showPreview:true,
          showClose:false,
          initialPreviewShowDelete: (type === 'gallery'),
          initialPreview: arrayImages,
          initialPreviewConfig: arrayImagesConfig,
          removeFromPreviewOnError : true,
          overwriteInitial: (type === 'main')
        }).on("filebatchselected", function (event, files) {
          // trigger upload method immediately after files are selected
          $(selector).fileinput("upload");
        }).on('filebatchuploadcomplete', function (event, data) {
          //alert("data: " + data);
        }).on('filebrowse', function (event) {
          //$("#input-foto").fileinput("clear"); // This actually supposed to clear uploaded files to allow you upload a new one without see the old one.
        }).on('fileclear', function (event) {
          $('#btnPublish').show();
        }).on('fileuploaded', function (event, data, previewId, index) {
          $('#btnPublish').show();
        }).on('filepreupload', function (event, data, previewId, index) {
          $('#btnPublish').hide();
        }).on('fileuploaderror', function (event, data, previewId, index) {
          $('#btnPublish').show();
        }).on('fileerror', function (event, data, previewId, index) {
          $('#btnPublish').show();
        }).on('filedeleted', function (event, key) {
          //console.log('key : ' + key);
        }).on('filepredelete', function (event, key) {
          //
          // console.log('key : ' + key);
        });
      }

      function showToast(type, title, message) {
        if ('success' == type) {
          toastr.options = {
            'closeButton': true,
            'debug': false,
            'newestOnTop': false,
            'progressBar': true,
            'positionClass': 'toast-top-center',
            'preventDuplicates': true,
            'onclick': null,
            'showDuration': '300',
            'hideDuration': '1000',
            'timeOut': 5000,
            'extendedTimeOut': '1000',
            'showEasing': 'swing',
            'hideEasing': 'linear',
            'showMethod': 'fadeIn',
            'hideMethod': 'fadeOut'
          };
          toastr['success'](message, title);

        } else if ('error' == type) {
          toastr.options = {
            'closeButton': true,
            'debug': false,
            'newestOnTop': false,
            'progressBar': true,
            'positionClass': 'toast-top-center',
            'preventDuplicates': true,
            'onclick': null,
            'showDuration': '300',
            'hideDuration': '1000',
            'timeOut': 5000,
            'extendedTimeOut': '1000',
            'showEasing': 'swing',
            'hideEasing': 'linear',
            'showMethod': 'fadeIn',
            'hideMethod': 'fadeOut'
          };
          toastr['error'](message, title)
        }

      }