extends layout
include components/urlTable
block head
    - var titleVar = process.env.APP_NAME
block content
    .row
        .col-lg-12
            .pull-right
                a(href='/admin/url-detail', title='Inserisci un nuovo Url').btn.btn-accent='Nuovo Url'
    hr
    +urlTable(urlList)