doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900', rel='stylesheet', type='text/css')
        // Page title
        title Ops | Si è verificato un errore
        // Vendor styles
        link(rel='stylesheet', href='/libs/fontawesome/css/font-awesome.css')
        link(rel='stylesheet', href='/libs/animate.css/animate.css')
        link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.css')
        // App styles
        link(rel='stylesheet', href='/css/pe-icons/pe-icon-7-stroke.css')
        link(rel='stylesheet', href='/css/pe-icons/helper.css')
        link(rel='stylesheet', href='/css/stroke-icons/style.css')
        link(rel='stylesheet', href='/css/style.css')
    body.blank
        // Wrapper
        .wrapper
            // Main content
            section.content
                //.back-link
                    a.btn.btn-accent(href='index.html') Back to Dashboard
                .container-center.md.animated.slideInDown
                    .view-header
                        .header-icon
                            i.pe.page-header-icon.pe-7s-close-circle
                        .header-title
                            h3 404
                            small
                                | Pagina non trovata
                    .panel.panel-filled
                        .panel-body
                            | Siamo spiacenti, la pagina che stavi cercando non è disponibile.
                    div
                        a.btn.btn-accent(href='/admin/home') Torna alla home
            // End main content
        // End wrapper
        // Vendor scripts
        script(src='/libs/pacejs/pace.min.js')
        script(src='/libs/jquery/dist/jquery.min.js')
        script(src='/libs/bootstrap/js/bootstrap.min.js')
        // App scripts
        script(src='/scripts/luna.js')
