meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900', rel='stylesheet', type='text/css')
link(rel='apple-touch-icon', sizes='57x57', href='/img/favico/apple-touch-icon-57x57.png')
link(rel='apple-touch-icon', sizes='60x60', href='/img/favico/apple-touch-icon-60x60.png')
link(rel='apple-touch-icon', sizes='72x72', href='/img/favico/favico/apple-touch-icon-72x72.png')
link(rel='apple-touch-icon', sizes='76x76', href='/img/favico/apple-touch-icon-76x76.png')
link(rel='apple-touch-icon', sizes='114x114', href='/img/favico/apple-touch-icon-114x114.png')
link(rel='apple-touch-icon', sizes='120x120', href='/img/favico/apple-touch-icon-120x120.png')
link(rel='apple-touch-icon', sizes='144x144', href='/img/favico/apple-touch-icon-144x144.png')
link(rel='apple-touch-icon', sizes='152x152', href='/img/favico/apple-touch-icon-152x152.png')
link(rel='apple-touch-icon', sizes='180x180', href='/img/favico/apple-touch-icon-180x180.png')
link(rel='icon', type='image/png', href='/img/favico/favicon-32x32.png', sizes='32x32')
link(rel='icon', type='image/png', href='/img/favico/android-chrome-192x192.png', sizes='192x192')
link(rel='icon', type='image/png', href='/img/favico/favicon-96x96.png', sizes='96x96')
link(rel='icon', type='image/png', href='/img/favico/favicon-16x16.png', sizes='16x16')
link(rel='manifest', href='/img/favico/manifest.json')
link(rel='mask-icon', href='/img/favico/safari-pinned-tab.svg', color='#5bbad5')
meta(name='apple-mobile-web-app-title', content='Specchio dei Tempi Admin')
meta(name='application-name', content='Specchio dei Tempi Admin')
meta(name='msapplication-TileColor', content='#ffffff')
meta(name='msapplication-TileImage', content='/img/favico/mstile-144x144.png')
meta(name='theme-color', content='#ffffff')
script(src='/libs/jquery/jquery-2.1.1.js')
block head
- var theTitle = titleVar ? titleVar : process.env.APP_NAME
title #{theTitle}
// Vendor styles
link(rel='stylesheet', href='/libs/fontawesome/css/font-awesome.css')
link(rel='stylesheet', href='/libs/animate.css/animate.css')
link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.css')
link(rel='stylesheet', href='/libs/datatable/css/dataTables.bootstrap.min.css')
// App styles
link(rel='stylesheet', href='/css/pe-icons/pe-icon-7-stroke.css')
link(rel='stylesheet', href='/css/pe-icons/helper.css')
link(rel='stylesheet', href='/css/stroke-icons/style.css')
link(rel='stylesheet', href='/css/style.css')

