//Created by Alex on 21/11/2016.

doctype html
html
    head
        include head
    body.blank
        // Wrapper
        .wrapper
            // Main content
            section.content
                .container-center.animated.slideInDown(style='padding:0 20px;')
                    .view-header
                        .header-icon.text-center
                            img#login-img-profile(src='/img/profile.jpg')
                        .header-title(style={'margin-left':'73px'})
                            h3=process.env.LOGIN_TITLE
                            small='Inserisci le tue credenziali per accedere.'
                    .panel.panel-filled
                        .panel-body
                            form#loginForm(action='/', method='post')
                                .form-group
                                    label.control-label(for='user') Nome Utente
                                    input#user.form-control(type='email', placeholder='example@gmail.com', title='Inserisci username', required='', value='', name='user')
                                .form-group
                                    label.control-label(for='pass') Password
                                    input#pass.form-control(type='password', title='Inserisci password', placeholder='password', required='', value='', name='pass')
                                .form-group
                                    .checkbox
                                        label
                                            input(type='checkbox')
                                            |  Ricordami
                                div
                                    input#btnLogin.btn.btn-accent2.btn-block(type='submit', value='Accedi', title='Accedi')
                                div
                                    span#errorMessage.small(style='color:#cb3029;')
                            div(style='margin:20px 0px')
                                span.help-block.small Se hai dimenticato le credenziali di accesso o se hai problemi con il servizio contatta la nostra assistenza.
                            hr
                            div
                                .pull-left
                                    span.small='Provided by '
                                    a(href='http://www.digitalx.it', title='DigitalX', target='_blank') DigitalX
                                .pull-right
                                    button#btnHelp.btn.btn-sm.btn-default(title='Assistenza', data-toggle='modal', data-target='#helpModal') Assistenza
            //END Main content
        //END Wrapper
    include admin/components/helpModal
    include scripts
    script(src='scripts/jquery.form.js')
    script(src='scripts/jquery.validate.js')
    script.

        //VALIDATION
        $('#loginForm').validate({
            rules: {
                user: {
                    required: true
                },
                pass: {
                    required: true
                }
            },
            //Testing the new method
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $(document).ready(function () {
            $('#helpPanel').hide();
            $('#errorMessage').hide();

            $('#btnLogin').on('click', function (e) {
                if ($('#loginForm').valid()) {
                    $('#loginForm').ajaxForm({
                        beforeSubmit: function (formData, jqForm, options) {
                            // append 'remember-me' option to formData to write local cookie //
                            formData.push({name: 'remember-me', value: $("input:checkbox:checked").length == 1});
                            showLoading(true);
                            $('#errorMessage').hide();
                        },
                        success: function (responseText, status, xhr, $form) {
                            if (status == 'success')
                                window.location.href = 'admin/home';
                        },
                        error: function (e) {
                            showLoading(false);
                            $('#errorMessage').show();
                            $('#errorMessage').text('Errore durante l\'accesso, ricontrolla le tue credenziali o contatta l\'assistenza');
                        }
                    });
                }
            });

        });

        function showLoading(isLoading) {
            if (isLoading) {
                $('#btnLogin').attr('disabled', 'disabled');
                $('#spinner').show();
            } else {
                $('#btnLogin').removeAttr('disabled');
                $('#spinner').hide();
            }
        }

