// Navigation
aside.navigation
    nav
        ul.nav.luna-nav
            for menuItem in menu
                if menuItem.link == '#'
                    li.active
                        a(href=menuItem.link, title=menuItem.title)=menuItem.title
                else
                    li
                        a(href=menuItem.link, title=menuItem.title)=menuItem.title
            li
                a.btn-link(type='button', title='Esci' data-toggle='modal', data-target='#logoutModal', style='cursor:pointer;') Esci
                div#logoutModal.modal.fade
                    .modal-dialog
                        .modal-content
                            .modal-header.text-center
                                h3 Esci
                            .modal-body.text-center
                                p Vuoi uscire dal pannello amministrativo ?
                            .modal-footer
                                a(href='/admin/logout', title='esci').btn.btn-danger Si, esci
                                button(type='button', data-dismiss='modal').btn.btn-default Chiudi
            li.nav-info
                i.pe.pe-7s-shield.text-accent
                .m-t-xs
                    span.c-white
                        | Documentazione legale per gli utenti del servizio:
                        |&nbsp;
                        a.small(href='/privacy', title='privacy') Privacy
                        |&nbsp;
                        a.small(href='/tos', title='condizioni di utilizzo') Termini di servizio