// TopBar
nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            #mobile-menu
                .left-nav-toggle
                    a(href='#')
                        i.stroke-hamburgermenu
            #mobile-logo.pull-left
                img.img-circle(src='/img/profile.jpg', alt='', style='width:40px')
            #mobile-title
                h5.c-text=process.env.APP_NAME
        #navbar.navbar-collapse.collapse
            .left-nav-toggle
                a(href='')
                    i.stroke-hamburgermenu
            .navbar-left.navbar-form
                h5.c-text=process.env.APP_NAME
            ul.nav.navbar-nav.navbar-right
                li.profil-link
                    a(href='#')
                        span.profile-address=userMail
                        img.img-circle(src='/img/profile.jpg', alt='')
// END TopBar

