.row
    .col-lg-12
        .view-header
            .header-icon
                i.pe.page-header-icon(class=pageHeader.icon)
            .header-title
                -var h3 = pageHeader.title;
                if (campaignObj && campaignObj.ds_name)
                    - h3 = campaignObj.ds_name
                else if (newsObj && newsObj.ds_name)
                    - h3 = newsObj.ds_name
                h3.m-b-xs=h3
                small=pageHeader.subtitle
        hr