// Vendor scripts
script(src='/libs/pacejs/pace.min.js', data-pace-options='{ "ajax": false }')
script(src='/libs/bootstrap/js/bootstrap.min.js')
script(src='/libs/datatable/js/jquery.dataTables.min.js')
script(src='/libs/datatable/js/dataTables.bootstrap.min.js')
//script(src='/vendor/moment/moment.js')
//script(src='/vendor/moment/moment-timezone.js')
// App scripts
script(src='/scripts/luna.js')
block scripts
//script(src='/scripts/browser-sync.js')